.breadcrumb {
  font-family: SourceSansPro-Regular;
  font-size: 1rem;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff !important;
  border-radius: .25rem;

  a {
    color: #00349A;
  }

  a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

.breadcrumb-item {
  float: left;
}

.breadcrumb-item.active {
  color: #636c72 !important;
  background-color: #fff !important;
}
