.main{
    
    
    background: #FFFFFF;
    border-radius: 4px;
    
}
.even-row{
    display: flex;
    justify-content: flex-end;
    padding-right: 26px;
}
.launch-main{
    padding-left: 60px;
    
}
.launch{
    height: 85px;
    width: 85px;
}
.ready-to{
    font-family: SourceSansPro-Bold;
font-size: 24px;
color: #2E2E2E;
letter-spacing: 0;
}
.please-read{
    font-family: SourceSansPro-Regular;
font-size: 14px;
color: #2E2E2E;
letter-spacing: 0;
margin-top: 8px;
}
.check-row-box{
    margin-top: 12px;
}
.check-row-two{
    margin-top: 17px;
}
.common{
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #2E2E2E;
    letter-spacing: 0;
    line-height: 24px;
}
.btn:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)!important;
}
.cancel-btn{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #00349A;
    text-align: center;
    width: 87px;
    height: 37px;
    // line-height: 19px;
}
.button-main{
display: flex;
justify-content: flex-end;
}
.button-inner{
    background: #FFFFFF;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
}
.button-color{
    background: #00349A;
    border-radius: 4px;
    border-radius: 4px;
    margin-left: 12px;
}
.color-btn-inner{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    width: 197px;
}