<div class="main">
    <div class="header-main" (click)="activeModal.close('Close click')">
        <img src="assets/img/close.svg" alt="close">
    </div>
    <div class="content-main">
        <div class="header-top-content">
            Events Overview
        </div>
        <div class="mt-2 table-border">
            <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;padding-right: 7px;">
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        DR EVENTS
                    </div>
                </div>
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        TIME
                    </div>
                </div>
                <div class="col-3 row-border-header">
                    <div class="dr-event">
                        STAGE
                    </div>
                </div>
                <div class="col-5 row-border-header" style="display: block !important;padding: 0px;">
                    <div class="dr-event"
                        style="height: 30px; text-align: center; padding: 6px; border-bottom: 1px solid #E4E8EC;">
                        CUSTOMERS
                    </div>
                    <div class="col" style="display: flex;padding-right: 0px;">
                        <div class="col row-border " style="height:30px;">
                            <div class="sub-divided-branch">
                                INVITED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                                PARTICIPATED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                                COUNTER BID
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;    border-right: 0;">
                            <div class="sub-divided-branch">
                                NO RESPONSE
                            </div>
                        </div>
                    </div>
                </div>
                <div class="final-column">
                </div>
            </div>
            <div class="table-row-scroll">
                <div class="row row-top" *ngFor="let event of eventOverviewList">
                    <div class="col-2 row-border">
                        <div class="column-one text-uppercase">
                            {{event.eventName}}
                        </div>
                    </div>
                    <div class="col-2 row-border">
                        <div class="column-one">
                            {{formatTime(event.startTime, 't')}}-{{formatTime(event.endTime, 't')}}
                        </div>
                    </div>
                    <div class="col-3 plan-quantity-start">
                        <div class="column-one">
                            {{getEventStatusTagName(event.eventStatus)}}
                        </div>
                        <!-- <div class="blue-color-font">
                           {{getTimer(event)}}
                        </div> -->

                        <countdown class="event-timer" *ngIf="event.eventStatus == 'Live'"
                            [config]="{ leftTime: getLeftTime(event.endTime), format: 'mm:ss' }">
                        </countdown>

                    </div>
                    <div class="col-5" style="display: flex;padding-right: 0px;">
                        <div class="col row-border plan-quantity-end">
                            <div class="column-one">
                                {{event.invitedCustomers}}
                            </div>
                        </div>
                        <div class="col row-border plan-quantity-end">
                            <div class="column-one">
                                {{event.participatedCustomers}}
                            </div>
                        </div>
                        <div class="col row-border plan-quantity-end">
                            <div class="column-one">
                                {{event.counterBidCustomers}}
                            </div>
                        </div>
                        <div class="col row-border plan-quantity-end">
                            <div class="column-one">
                                {{event.noResponseCustomers}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main border-top">
        <button type="button" class="btn cancel-btn" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>