
    <div class=" pl-4 pr-4 full-body">
        <div class="close-icon" style=" padding-top: 10px;margin-right: -10px !important;" (click)="activeModal.close('Close click')">
            <img src="../../../assets/img/close.svg" alt="logo">
        </div>
        <div class="header-top-content">
            Events Overview
        </div>
        <div class = "mt-2 table-border">
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;padding-right: 7px;">
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        DR EVENTS
                    </div>
                </div>
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        TIME
                    </div>
                </div>
                <div class="col-3 row-border-header">
                    <div class="dr-event">
                       STAGE
                    </div>
                </div>
                <div class="col-5 row-border-header" style="display: block !important;padding: 0px;">
                    <div class="dr-event" style="height: 30px; text-align: center; padding: 6px; border-bottom: 1px solid #E4E8EC;">
                        CUSTOMERS
                    </div>
                    <div class="col" style="display: flex;padding-right: 0px;">
                        <div class="col row-border " style="height:30px;">
                            <div class="sub-divided-branch">
                                INVITED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                            PARTICIPATED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                            COUNTER BID
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;    border-right: 0;">
                            <div class="sub-divided-branch">
                            NO RESPONSE
                            </div>
                        </div>
                    </div>
                </div>
                <div class="final-column">
            </div>
        </div>
        <div class="table-row-scroll" >
            <div class="row row-top" *ngFor="let eventOverview of eventOverviewList">
                <div class="col-2 row-border">
                    <div class="column-one">
                        {{eventOverview.eventName}}
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        {{formatTime(event.startTime, 't')}}-{{formatTime(event.endTime, 't')}}
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        {{eventOverview.eventStage}}
                    </div>
                    <div class="blue-color-font">
                        00:01
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            {{eventOverview.invited}}
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            {{eventOverview.participated}}
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            {{eventOverview.counterBid}}
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            {{eventOverview.noResponse}}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div style="position: absolute; bottom: 0px; width: 100%;">
            <div class="footer-divider"></div>
            <div class="footer-back">
                <div class = "button-margin">
                    <button type="button" style="opacity: 1 !important;" class="btn publish-event-button publish-inner-button" (click)="activeModal.close('Close click')">Close</button>
                </div> 
            </div>
        </div> 
    </div>  
</div>
