
    <div class="main" *ngIf="cancelAddUser">
        <div class = "even-row">
            <img  src="assets/img/close.svg" alt="close">
        </div>
        <div class = "launch-main">
            <div class="launch">
                <img   src="assets/img/cancel-event.svg" alt="close">
            </div>
            <div class="ready-to">
                Permanently Cancel 2019102606HYS Event?
            </div>
            <div class="please-read">
                Are you sure you want to cancel the event permanently? 
            </div>
            <div class="content-red">
                Cancelling the event, cannot be undone. 
               
            </div>
            <div class="content-black">
                Customers will be notified regarding the cancellation of the event.
               
            </div>
        </div>
        <div style = "padding-top: 38px;">
            <div class="footer-divider mt-auto"></div>
        </div>
        <div class="button-main  ml-auto" style="padding-right: 26px;padding-top: 10px;">
            <div class = "button-inner">
                <button type="button" class="btn cancel-btn" (click)="hidePublish()">Cancel</button>
            </div>
            <div class = "button-color">
                <button type="button" class="btn color-btn-inner">Yes, Cancel Event</button>
            </div>
        </div>
    </div>

