<div class="px-4 pb-3">
    <div class="pb-3">
        <div class="page-title mr-auto">Customers (25)</div>
        <!-- <div class="button-margin">
            <button type="button" class="btn publish-event-button active" style="width:197px;"> Add Customer</button>
        </div>
        <div style="margin-right: 3px;">
            <button type="button" class="btn delete-event active-delete"> Delete</button>
        </div> -->
    </div>
    <div class="border-left border-right">
        <div class="grid-row py-3 border-bottom border-top">
            <div class="column-header px-2">Division</div>
            <div class="column-header px-2">Contract Account</div>
            <div class="column-header px-2">Meter Number</div>
            <div class="column-header px-2">SL (kW)</div>
            <div class="column-header px-2 text-right">Billed MUs FY 17-18</div>
            <div class="column-header px-2">Company Name</div>
            <div class="column-header px-2">Address</div>
            <div class="column-header px-2">Type/Activity</div>
        </div>
        <div class="grid-row py-3 border-bottom " *ngFor="let customer of customerList">
            <div class="column-value px-2 text-uppercase">{{customer.division}}</div>
            <div class="column-value px-2">{{customer.contractAccount}}</div>
            <div class="column-value px-2">{{customer.meterNumber}}</div>
            <div class="column-value px-2">{{customer.sL}}</div>
            <div class="column-value px-2 text-right">{{customer.billedMus}}</div>
            <div class="column-value px-2">{{customer.companyName}}</div>
            <div class="column-value px-2">{{customer.companyAddress}}</div>
            <div class="column-value px-2">{{customer.type}}</div>
        </div>
    </div>
</div>