.page-title {
  font-family: SourceSansPro-Bold;
  font-size: 24px;
  color: #00349A;
}

.grid-row {
  display: grid;
  grid-template-columns: 10% 10% 12% 8% 12% 15% 18% 15%;
  letter-spacing: 0;
}

.column-header {
  font-family: SourceSansPro-SemiBold;
  font-size: 12px;
  color: #727479;
}

.column-value {
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: #2E2E2E;
}
