.publish-event-button{
    font-family: SourceSansPro-SemiBold!important;
    font-size: 14px!important;
    color: #00349A!important;
    line-height: 19px!important;
    padding: 7px 30px !important;
}
.col-background{
    background: rgba(239,255,45,0.10);
}
.delete-event-button{
    font-family: SourceSansPro-SemiBold!important;
    font-size: 14px!important;
    color: #00349A;
    line-height: 19px!important;
    padding: 7px 30px !important;
    border: 1px solid #DFE2E5;
}
.customer-down-indent{
    padding-bottom: 26px;
}

.active {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)!important;
    background-color:#00349A !important;
    color:white !important;
    
}
.active-delete{
    opacity: 0.5;
font-family: SourceSansPro-SemiBold;
font-size: 14px;
color: #00349A;
text-align: center;
line-height: 19px;
background: #FFFFFF;
border: 1px solid #DFE2E5;
border-radius: 4px;
}
.year{
    font-family: SourceSansPro-Bold;
    font-size: 24px;
    color: #00349A;
    // font-weight: 700;
}
.vertical-dot-icon{
    font-size: 14px;
    color: #00349A;
}
.button-margin{
   margin-right: 19px;
}
.inline-content{
    display: flex;
}
.btn:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)!important;
}
.table-border{
    border: 1px solid #E4E8EC;
    border-right: 0px;
    border-top: 0px;    
}
.row-top{
    border-top: 1px solid #E4E8EC;
    margin: 0px!important;
}
.row-header-top{
   
    margin: 0px!important;
}
.table-end-line{
    border-bottom: 1px solid #E4E8EC;
}
.sticky-content{
    border: 1px solid #d0d4d8;
    position: sticky;
    margin:0px !important;
}
.dr-event{
    font-family: SourceSansPro-SemiBold;
    font-size: 12px;
    color: #2E2E2E;
    font-weight: 600;
}
.column-one{
    font-size: 14px;
    font-family: SourceSansPro-Regular;
}
.row-footer{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color:  #00349A;
    font-weight: 700;
}
.row-border{
    border-right: 1px solid #E4E8EC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.row-head{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    scrollbar-width: 7px;
  }
  ::-webkit-scrollbar-thumb {
  background-color:hsl(0, 0%, 83%);
  border-radius: 75px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.table-row-scroll{
    overflow: scroll;
    height:90%;
    overflow-x:scroll;
    overflow-y:scroll;
    scrollbar-width: thin;
}
.hidden{
    opacity: 0.5;
    font-family: SourceSansPro-Regular;
    font-size: 14px;
}
.scroller{
    width: 7px;
    overflow-y: scroll;
    scrollbar-color: #d3d3d3;
  }

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .customer-init{
      padding-right: 8px;
  }
.shadow-background{
    background: rgba(208,2,27,0.10);
}
.division-head{
    font-family: SourceSansPro-SemiBold;
    font-size: 12px;
    color: #727479;
    letter-spacing: 0;
}
.division-body{
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #2E2E2E;
}
.align-row-equal{
    margin-top: -4px;
}
.static-content{
    position: fixed;
    right: 27px;
    background-color: #FFFFFF;
    // top: 167px;
}
.dot-icon{
    padding: 25px 15px 33px 13px;
    border: none;
}

.label-box{
    margin-top: -2px;
    margin-left: 31px;
}
.table-space{
    padding: 10px 0px 13px 0px;
}
.inner-division{
    width: 80px;
}
.outer-division{
    width: 80px;   
}

.outer-contract-division{
    width: 110px;
    margin-left: 16px;
}
.meter-division{
    width: 120px;
    margin-left: 16px;
}
.sl-division{
    width: 49px;
    margin-left: 16px;
}
.billed-division{
    width: 100px;
    margin-left: 16px;
}
.company-division{
    width: 120px;
    margin-left: 16px;
}
.address-division{
    width: 230px;
    margin-left: 16px;
}
.mobile-division{
    width: 82px;
    margin-left: 16px;
}
.type-division{
    width: 120px;
    margin-left: 16px;
}
.customer-division{
    width: 109px;
    margin-left: 16px;
}
.contact-division{
    width: 120px;
    margin-left: 16px;
}
.header-main-customer{
    display: flex;
    margin-left: 16px;
}
.display-flex{
    display: flex;
    padding-left: 16px;
}
.inner-div-main{
    padding-top: 13px;
    padding-bottom: 28px;
}
.col-label{
    padding-right: 0px;
}
.textalign-right{
    text-align: right;  
}
.row-width-imp{
    width:135%;
    background-color: white;
}
.esl{
    width:135%
}
.relative-position{
    position: relative;
}
.static-left{
    display: -webkit-box;
    display: flex;
    position: fixed;
    background: white;
    padding: 0px 0px 33px 0px;
    margin-left: 15px;

}
.static-right{
    display: flex;
    width: 94.5%;
    justify-content: flex-end;
}
