<div class="full-body">
    <div class="close-icon" (click)="activeModal.close('Close click')">
        <img src="../../../assets/img/close.svg" alt="logo">
    </div>
    <div class="header-top-content">
        Version History
    </div>
    <div style="padding-left:20px">
        <div class="table-border">
            <div class="row row-top" style="position: relative;top: 0px;z-index: 1;
                background: #ffffff;padding-right: 7px;display: flex;"
                *ngFor="let eventSetVersion of eventSetVersions">
                <div class=" pl-2 row-border">
                    <div class="radio">
                        <!-- <input type="radio" class="custom-control-input" id="eventSetVersion.id">
                        <label class="custom-control-label" for="eventSetVersion.id"></label> -->
                        <label *ngIf="eventSetVersion.currentVersionFlag=='false'">
                            <input type="radio" name="versionCheck" 
                            (change)="selectVersion(eventSetVersion.version)">
                        </label>
                        <label *ngIf="eventSetVersion.currentVersionFlag=='true'">
                            <input type="radio" name="versionCheck" 
                            (change)=selectVersion(eventSetVersion.version) checked>
                        </label>
                    </div>
                </div>
                <div class="col row-border" *ngIf="eventSetVersion.currentVersionFlag=='true'">
                    <div class="dr-event" style="display: flex;">
                        CURRENT VERSION - {{formatTime(eventSetVersion.uploadTime, 'd')}}
                        AT {{formatTime(eventSetVersion.uploadTime, 't')}}
                        <!-- <div class="center-kb-content">
                            50KB
                        </div> -->
                    </div>
                </div>
                <div class="col row-border" *ngIf="eventSetVersion.currentVersionFlag=='false'">
                    <div class="dr-event" style="display: flex;">
                        {{formatTime(eventSetVersion.uploadTime, 'd')}}
                        AT {{formatTime(eventSetVersion.uploadTime, 't')}}
                        <!-- <div class="center-kb-content">
                            75KB
                        </div> -->
                    </div>
                </div>
                <div class="col" style="padding-right: 0px;">
                    <div class="end-preview-content" (click)="downloadEventSheet(eventSetVersion?.version)">
                        Download
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 0px; width: 636px;">
        <div class="footer-divider"></div>
        <div class="footer-back">
            <div class="button-cancel-event">
                <button type="button" class="back-btn publish-event-button"
                [class.disabled]="!enableRestore" (click)="restoreVersion()">Restore Selected</button>
            </div>
            <div class="button-margin">
                <button type="button" class="btn publish-event-button publish-inner-button" (click)="activeModal.close('Close click')">Close</button>
            </div>
        </div>
    </div>
</div>