<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "main-download">
        <div class = "even-row">
            <img   src="assets/img/close.svg" alt="close">
        </div>
        <div class = "launch-main">
            <div class="launch">
                <img   src="assets/img/launch.svg" alt="close">
    
            </div>
            <div class="ready-to">
                Download 2019102606HYS Event?
            </div>
            <div class="please-read">
                Please choose one or all formats from the following
            </div>
            <div class = "img-main" style = "height: 225px;">
                <div class = "png">
                    <img   src="assets/img/png.svg" alt="close">
                </div>
                <div class="pdf">
                    <img   src="assets/img/pdf.svg" alt="close">
                </div>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="button-main mt-auto" style="padding-right: 26px;">
            <div class = "button-inner">
                <button type="button" class="btn cancel-btn">cancel</button>
            </div>
            <div class = "button-color">
                <button type="button" class="btn color-btn-inner">Download</button>
            </div>
        </div>
    </div>
</body>
</html>