
    <div class = "main-download">
        <div class = "even-row">
            <img   src="assets/img/close.svg" alt="close">
        </div>
        <div class = "launch-main">
            <div class="launch">
                <img   src="assets/img/launch.svg" alt="close">
            </div>
            <div class="ready-to">
                Download 2019102606HYS Event?
            </div>
            <div class="please-read">
                Please choose one or all formats from the following
            </div>
            <div class = "img-main">
                <div class = "png">
                    <img   src="assets/img/png.svg" alt="close">
                </div>
                <div class="pdf">
                    <img   src="assets/img/pdf.svg" alt="close">
                </div>
            </div>
        </div>
        <div style ="padding-top: 82px;">
            <div class="footer-divider"></div>
        </div>
        <div class="button-main" style="padding-right: 26px;padding-top: 10px;">
            <div class = "button-inner">
                <button type="button" class="btn cancel-btn">Cancel</button>
            </div>
            <div class = "button-color">
                <button type="button" class="btn color-btn-inner">Download</button>
            </div>
        </div>
    </div>
