<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class=" header-bg display-property">
        <div class="col header-img-align">
            <img src="../../../assets/img/Splash Screen_Icon.svg" alt="logo">
        </div>
        <div class="col menu-font-align display-property">
            <nav>
                <ul style="padding-inline-start: 0px !important;display: flex;">
                    <li class="item">
                        <a  class="bar">
                            <div class="display-property">
                                <div class="header-icon"><img src="../../../assets/img/dashboard.svg" alt="logo"></div>
                                <div class="topbar-font-fix" (click)="navigateToMenuItem('dashboard')">Dashboard</div>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/main" class="bar">
                            <div class="display-property">
                                <div class="header-icon"><img src="../../../assets/img/events.svg" alt="logo"></div>
                                <div class="topbar-font-fix">Demand </div>
                                <div class="topbar-font-fix" style="padding-left: 5px;">Response</div>
                                <div class="topbar-font-fix" style="padding-left: 5px;">Events</div>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/main/allcustomers">
                            <div class="display-property">
                                <div class="header-icon"><img src="../../../assets/img/users-group.svg" alt="logo">
                                </div>
                                <div class="topbar-font-fix">Customers</div>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/main" class="report">
                            <div class="display-property">
                                <div class="header-icon"><img src="../../../assets/img/reports.svg" alt="logo"></div>
                                <div class="topbar-font-fix">Reports</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class=" menu-header far fa-bell bell-icon"></div>
            <div style="margin-top:9px;padding-left: 30px;padding-right: 10px;">
                <img src="../../../assets/img/Oval.svg" alt="logo">
            </div>
        </div>
    </div>
</body>

</html>