<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="row header-bg">
        <div class="col-lg-6 col-md-4 col-sm-3 header-img-align">
            <img src="../../../assets/img/Splash Screen_Icon.svg" alt="logo">
        </div>
        <div class="col-lg-6 col-md-8 col-sm-9 menu-font-align" >
            <ul class="ul-listing">

                <li class="menu-header" style="width: 18%;" >
                    <div class="header-icon"><img src="../../../assets/img/dashboard.svg" alt="logo"></div>
                    <div class="topbar-font-fix">Dashboard</div>
                </li>
                <li class="menu-header" style="width: 32%;">
                    <div class="header-icon"><img src="../../../assets/img/events.svg" alt="logo"></div>
                    <div class="topbar-font-fix">Demand Response Events</div>
                </li>
                <li class="menu-header" style="width: 18%;">
                    <div class="header-icon"><img src="../../../assets/img/users-group.svg" alt="logo"></div>
                    <div class="topbar-font-fix">Customers</div>
                </li>
                <li class="menu-header" style="width: 16%;">
                    <div class="header-icon"><img src="../../../assets/img/reports.svg" alt="logo"></div>
                    <div class="topbar-font-fix">Reports</div>
                </li>
                <div class="underbar"></div>

            </ul>
            <div class=" menu-header far fa-bell bell-icon" style="width: 7%;"></div>
            <div style="margin-top: -4px; float: left;">
                <img src="../../../assets/img/Oval.svg" alt="logo">
            </div>
        </div>
    </div>
</body>
</html>
