<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-7  col-sm-6 col-xs-11 sustain-main" style=" padding: 0;">
                <div class="sustain">
                    <div>
                        SUSTAIN
                    </div>
                    <div class="impact">
                        IMPACT
                    </div>
                </div>
                <div class="commitment">
                    <div>
                        ...commitment to
                    </div>
                    <div>
                        Sustainability!
                    </div>
                </div>
                <div class="footer-copyrights">
                    <footer>&copy; 2019 copyrights reservedsustain-impact.com</footer>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-11">
                <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
                    <form class="form-imp p-5 mt-1 ml-2 ">
                        <div>
                            <div class="welcome">
                                Welcome!
                            </div>
                            <div class="log-in">
                                Login to your account Using Your credentials
                            </div>
                        </div>
                        <div class="pt-5">
                            <div class="email-address">
                                Email address
                            </div>
                            <div class="mt-1">
                                <input type="text" class="form-control" placeholder="arunkumar@gmail.com">
                            </div>
                        </div>
                        <div class="pt-2">
                            <div class="email-address">
                                Password
                            </div>
                            <div class="mt-1" style="position: relative;">
                                <input type="password" placeholder="" class="form-control">
                                <span class="fa fa-fw fa-eye field-icon"></span>
                            </div>
                        </div>
                        <div class="pt-4">
                            <div class="forgot-password">
                                Forgot Password?
                            </div>
                        </div>
                        <div class="pt-3 pb-3">
                            <button type="button" class="btn login btn-lg btn-block"
                                style="font-weight: 600;background-color: #2121bd;color: white;font-size: 13px;"
                                (click)="login()">Login </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>