.sustain-main {
  position: relative;
  background-image: url(../../assets/img/login-bg.png);
  background-size: cover;
  font-family: SourceSansPro-Light;

  .sustain-logo {
    position: absolute;
    top: 10rem;
    left: 10rem;

    img {
      height: 4rem;
    }
  }

  .quote {
    position: absolute;
    top: 20rem;
    left: 10rem;
    font-size: 3rem;
    line-height: 1;
    color: #FFFFFF;
  }

  .footer-copyrights {
    position: absolute;
    bottom: 21px;
    left: 166px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.7;
  }
}

.form-login {
  width: 79%;
  box-shadow: 0 2px 5px #00000060;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  color: #00349A;
  letter-spacing: 0;
  font-family: SourceSansPro-Regular;

  .welcome-label {
    font-size: 32px;
  }

  .login-label {
    font-size: 14px;
    color: #2E2E2E;
  }

  .input-label {
    font-size: 12px;
    font-weight: bold;
    color: #727479;
  }

  input {
    background-color: transparent;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
  }

  .form-imp {
    border: 1px solid #ece4e4;
    width: 79%;
    border-radius: 9px;
  }

  .log-in {
    font-size: 13px;
    font-weight: 600;
    color: #383434eb;
  }

  .email-address {
    color: #7b7878;
    font-weight: 600;
    font-size: 12px;
  }

  .forgot-password {
    text-align: right;
    font-size: 13px;
    color: #2121bd;
    font-weight: 700;
  }

  input {
    border: 1px solid #DFE2E5;
    background-color: transparent;

    .form-control:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  // .form-control::-webkit-input-placeholder {
  //   color: #00349A !important;
  //   font-weight: 700 !important;
  // }

  .field-icon {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 0.7rem;
    top: 0.7rem;
    z-index: 2;
  }

  .forgot-password {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
  }

  .login {
    font-weight: bold;
    background-color: #00349A;
    font-size: 16px;
    color: #FFFFFF;
  }

  .toast-container.toast-top-center .ngx-toastr {
    width: 600px;
    top: 90px;
  }
  
  .toast-info {
    background-color: #d10d0d !important;
    // background-image:''
  }
}