<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
   
    <div class=" pl-4 pr-4 ">
        <div class ="inline-content">
            <div class = "year mr-auto">
                20191026HYS
            </div>
            <div class = "button-margin">
                <button type="button" class="btn publish-event-button">Publish Events</button>
            </div>
            <div class = "button-margin">
                <button type="button" class="btn publish-event-button">Event Overview</button>
            </div>
            <div class = "button-margin" >
                <button type="button" class="btn publish-event-button">View Customers</button>
            </div>
            <div class = " pt-1">
                <i class="fas fa-ellipsis-h vertical-dot-icon"></i>
            </div>
        </div>
        <div class="pt-2">
            <div class="custom-control custom-checkbox box">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label exclude-time" for="defaultUnchecked">Exclude times with '0' quantity & price </label>
            </div>
        </div>
        <div class = "mt-2 table-border">
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-1">
                        <label class="custom-control-label" for="drevent-1"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="dr-event">
                        DR EVENTS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="dr-event">
                        TIME
                    </div>
                </div>
                <div class="col row-border">
                    <div class="dr-event">
                        PLANNED QUANTITY (KW)
                    </div>
                </div>
                <div class="col row-border">
                    <div class="dr-event">
                        PRICE (PAISE/KW)
                    </div>
                </div>
                <div class="col row-border commitement-header">
                    <div>
                        COMMITMENTS (KW)
                    </div>
                </div>
                <div class="col row-border commitement-header">
                    <div>
                        SHORTFALL (KW)
                    </div>
                </div>
                <div class="col row-border commitement-header">
                    <div>
                        ACTUAL QUANTITY (KW)
                    </div>
                </div>
                <div class="final-column">
                </div>
            </div>
        <div class="table-row-scroll">
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-2">
                        <label class="custom-control-label" for="drevent-2"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102604HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0800-0815
                    </div>
                </div>
                <div class="col plan-quantity-end">
                    <div class="column-one">
                    100
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-3">
                        <label class="custom-control-label" for="drevent-3"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102605HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0815-0830
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    450
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                            925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-4">
                        <label class="custom-control-label" for="drevent-4"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102606HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0830-0845
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    200
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-5">
                        <label class="custom-control-label" for="drevent-5"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102607HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0845-0900
                    </div>
                </div>
                <div class="col row-border plan-quantity-end" >
                    <div class="column-one" >
                    700
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-6">
                        <label class="custom-control-label" for="drevent-6"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102608HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0900-0915
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-7">
                        <label class="custom-control-label" for="drevent-7"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102609HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0915-0930
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-8">
                        <label class="custom-control-label" for="drevent-8"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102610HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0930-0945
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one commitement-header">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one commitement-header">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one commitement-header">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-9">
                        <label class="custom-control-label" for="drevent-9"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102611HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    0945-1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-10">
                        <label class="custom-control-label" for="drevent-10"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102612HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    1015-1030
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>

            <div class="row row-top table-end-line">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-12">
                        <label class="custom-control-label" for="drevent-12"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-13">
                        <label class="custom-control-label" for="drevent-13"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-14">
                        <label class="custom-control-label" for="drevent-14"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
            </div>
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-15">
                        <label class="custom-control-label" for="drevent-15"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                    1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                    1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one ">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                    --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one ">
                    --
                    </div>
                </div>
            </div>
        </div>  
    </div>  
            <div class="row row-top sticky-content">
                <div style = "width:32px;">
                </div>
                <div class="col row-border footer-color">
                    <div class="row-footer"> 
                    TOTAL
                    </div>
                </div>
                <div class="col row-border footer-color">
                    <div class="row-footer plan-quantity-end">
                    --
                    </div>
                </div>
                <div class="col row-border footer-color plan-quantity-end">
                    <div class="row-footer">
                    4200
                    </div>
                </div>
                <div class="col row-border footer-color plan-quantity-end">
                    <div class="row-footer">
                    --
                    </div>
                </div>
                <div class="col row-border footer-color plan-quantity-end">
                    <div class="row-footer">
                    --
                    </div>
                </div>
                <div class="col row-border footer-color plan-quantity-end">
                    <div class="row-footer">
                    --
                    </div>
                </div>
                <div class="col row-border footer-color plan-quantity-end">
                    <div class="row-footer">
                    --
                    </div>
                </div>
                <div class="final-column">
                </div>
            </div>
    </div>
</body>
</html>