<div class=" pl-4 pr-4 ">
    <div class="inline-content">
        <div class="year mr-auto text-uppercase">
            {{eventSetName}}
        </div>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" [title]="tooltipText">
            <div class="button-margin">
                <button type="button" class="btn publish-event-button active" [class.disabled]="!isPublishable"
                    (click)="publishEvents()">Publish Events</button>
            </div>
        </span>

        <div class="button-margin">
            <button type="button" class="btn publish-event-button active" [class.disabled]="noEventsSelected"
                (click)="openEventsOverview()">Events
                Overview</button>
        </div>
        <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" [title]="customerTooltipText">
            <div class="button-margin" (click)="editCustomers()">
                <button type="button" class="btn publish-event-button active" [class.disabled]="!isCustomerEditable">
                    Edit Customers</button>
            </div>
        </span> -->
        <div>
            <button class="btn" type="button" id="eventDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-ellipsis-h vertical-dot-icon"></i>
            </button>
            <div class="dropdown-menu fs-14" aria-labelledby="eventDropdown">
                <button class="dropdown-item disabled" type="button"> Re-Upload
                    Sheet</button>
                <button class="dropdown-item disabled" type="button">Version
                    History</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="exportExcel()">Export as a file</button>
                <!-- <button class="dropdown-item" type="button">Cancel Event</button> -->
            </div>
        </div>
    </div>
    <div class="pt-2">
        <div class="custom-control custom-checkbox box">
            <input type="checkbox" class="custom-control-input checkbox" id="defaultUnchecked"
                [(ngModel)]="isExcludedZeroSelected" (change)="excludeZero()">
            <label class="custom-control-label exclude-time" for="defaultUnchecked">Exclude times with '0' quantity &
                price </label>
        </div>
    </div>
    <div class="mt-2 table-border" [ngStyle]="{'height.px': innerHeight}">
        <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;;">
            <div class=" pl-2 row-border">
                <div class=" custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="drevent-1"
                        (change)="changeAllEventSelection($event.target.checked)">
                    <label class="custom-control-label" for="drevent-1"></label>
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    DR EVENTS
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    TIME
                </div>
            </div>
            <div class="col row-border flex-grow ">
                <div class="dr-event  ">
                    PLANNED QUANTITY (KW)
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    PRICE (PAISE/KW)
                </div>
            </div>
            <div class="col row-border plan-quantity-end ">
                <div class="dr-event customer-init ">
                    CUSTOMERS
                </div>
                <span class=" time-indication "><img src="assets/img/time-indicator.svg" alt=""></span>
            </div>
            <div class="col row-border ">
                <div class="dr-event ">
                    COMMITMENTS (KW)
                </div>
            </div>
            <div class="col row-border">
                <div class=" dr-event ">
                    SHORTFALL (KW)
                </div>
            </div>
            <div class="col row-border ">
                <div class="dr-event">
                    ACTUAL QUANTITY (KW)
                </div>
            </div>
            <div class="final-column">
            </div>
        </div>
        <div class="table-row-scroll" #pRef>
            <!-- <div class="row row-top shadow-background light-color ">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-2">
                        <label class="custom-control-label" for="drevent-2"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0800-0815
                    </div>
                </div>
                <div class="col plan-quantity-end flex-grow ">
                    <div class="column-one">
                        100
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        12
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        13
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        12
                    </div>
                </div>
            </div> -->
            <!-- <div class="row row-top shadow-blue">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-3">
                        <label class="custom-control-label" for="drevent-3"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one" (click)="openEventDetails()">
                        2019102605HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0815-0830
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        450
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        12
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        100
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        14
                    </div>
                </div>
            </div> -->

            <!-- <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-4">
                        <label class="custom-control-label" for="drevent-4"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102606HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0830-0845
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        200
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        100
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one">
                        200
                    </div>
                </div>
                <div class="col row-border plan-quantity-end live-col-end ">

                    <input type="radio" id="radio-change" name="gender" value="male" checked>
                    <span class=" live-col-content live-radio-inner ">
                        LIVE
                    </span>
                    <div class="column-one">
                        200

                    </div>

                </div>
            </div> -->

            <div class="row row-top" *ngFor="let event of events" [class.light-blue]="event.isSelected"
                [class.light-gray]="event.eventStatus == 'Published' 
                || event.eventStatus == 'Gate Closed'
                || event.eventStatus == 'Locked'
                || event.eventStatus == 'Live'
                || event.eventStatus == 'Expired'" [class.light-yellow]="false"
                [class.light-red]="event.eventStatus == 'Cancelled'">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" (click)="selectEvent(event.eventId)"
                            [(ngModel)]="event.isSelected" [id]="event.eventId">
                        <label class="custom-control-label" [for]="event.eventId"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one event-name text-uppercase pointer" (click)="openEventDetails(event)">
                        {{event.eventName}}
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        {{formatTime(event.startTime, 't')}}-{{formatTime(event.endTime, 't')}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow">
                    <div class="column-one">
                        {{event.plannedPower}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        {{event.price}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        {{event.numberOfCustomers}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        {{event.committedPower}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <!-- <div class="column-one">
                        {{getShortfall(event.plannedPower, event.committedPower)}}
                    </div> -->
                    <div class="column-one">
                        {{event.shortfall}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        {{event.actualPower}}
                    </div>
                    <!--TBD-->
                    <!-- <span class=" live-col-content live-radio-inner " *ngIf="event.eventStatus=='Live'">
                        LIVE
                    </span> -->
                </div>
            </div>

            <!-- <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-6">
                        <label class="custom-control-label" for="drevent-6"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102608HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0900-0915
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-7">
                        <label class="custom-control-label" for="drevent-7"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102609HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0915-0930
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-8">
                        <label class="custom-control-label" for="drevent-8"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102610HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0930-0945
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        925
                    </div>
                </div>
                <div class="col row-border plan-quantity-end ">
                    <div class="column-one commitement-header">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one commitement-header">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one commitement-header">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-9">
                        <label class="custom-control-label" for="drevent-9"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102611HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        0945-1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-10">
                        <label class="custom-control-label" for="drevent-10"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102612HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        1015-1030
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        250
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        500
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>

            <div class="row row-top table-end-line">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-12">
                        <label class="custom-control-label" for="drevent-12"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-13">
                        <label class="custom-control-label" for="drevent-13"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-14">
                        <label class="custom-control-label" for="drevent-14"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
            </div>
            <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="drevent-15">
                        <label class="custom-control-label" for="drevent-15"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        2019102613HYS

                    </div>
                </div>
                <div class="col row-border">
                    <div class="column-one">
                        1030-1045
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow ">
                    <div class="column-one">
                        1000
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        06/25
                    </div>
                </div>
                <div class="col row-border plan-quantity-end">
                    <div class="column-one">
                        1025
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one ">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one">
                        --
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="column-one ">
                        --
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        </div>

        <div class="row row-top sticky-content">
            <div style="width:39px;background-color: white;">
            </div>
            <div class="col row-border footer-color">
                <div class="row-footer">
                    TOTALS
                </div>
            </div>
            <div class="col row-border footer-color">
                <div class="row-footer plan-quantity-end">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end flex-grow ">
                <div class="row-footer">
                    {{totalPlannedQuantity}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{totalCommitments}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{totalShortfall}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end" style="margin-right: 7px;">
                <div class="row-footer ">
                    {{totalActualQuantity}}
                </div>
            </div>

        </div>


        <!-- for excel export -->
        <table id="dr-table" class="hidden-table">
            <tr>
                <th>Event Set Name</th>
                <th>Planned (KW)</th>
                <th>Commitments (KW)</th>
                <th>Actual Relief (KW)</th>
                <th>Actual Shortfall (KW)</th>
                <th>Incentive KWH (Rs)</th>
                <th>Cost (Rs)</th>
                <th>Penalty (Rs)</th>
                <th>Effective DR event cost (Rs)</th>
                <th>Execution efficiency index</th>
                <th>Customer commitment index</th>
            </tr>


            <tr *ngFor="let event of eventReport">
                <td> {{event.eventName}}</td>
                <td> {{event.plannedPower}}</td>
                <td> {{event.committedPower}}</td>
                <td> {{event.actualPower}}</td>
                <td> {{event.shortfall}} </td>
                <td> {{event.price}}</td>
                <td> {{event.totalCostPerEvent}} </td>
                <td> {{event.totalPenaltyPerEvent}} </td>
                <td> {{event.effectiveCostPerEvent}}</td>
                <td> {{event.effExecIndex}}</td>
                <td> {{event.cusCommitIndex}}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>Summary</td>
                <td> {{totalPlannedQuantity}}</td>
                <td> {{totalCommitments}}</td>
                <td> {{totalActualQuantity}}</td>
                <td> {{totalShortfall}}</td>
                <td> - </td>
                <td>{{totalPrice}}</td>
                <td>{{totalPenalty}}</td>
                <td>{{totalPrice - totalPenalty}}</td>
                <td>{{totalEffExecIndex}}</td>
                <td>{{totalCusCommitIndex}}</td>
            </tr>
        </table>