<div class=" pl-4 pr-4 ">
    <div>
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
    </div>
    <div class="inline-content">
        <div class="year mr-auto text-uppercase">
            {{eventSetName}}
        </div>
        <div class="border rounded button-margin refresh-btn" (click)="getEvents()">
            <button class="h-100 px-2 btn color-primary" type="button">
                <i class="fas fa-sync" aria-hidden="true"></i>
            </button>
            <!-- <img src="../../../assets/img/refresh.svg" alt="refresh"> -->
        </div>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" [title]="tooltipText">
            <div class="h-100 button-margin">
                <button type="button" class="h-100 btn publish-event-button active" [class.disabled]="!isPublishable"
                    (click)="publishEvents()">Publish Events</button>
            </div>
        </span>

        <div class="button-margin">
            <button type="button" class="h-100 btn publish-event-button active" [class.disabled]="noEventsSelected"
                (click)="openEventsOverview()">Events
                Overview</button>
        </div>
        <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" [title]="customerTooltipText">
            <div class="button-margin" (click)="editCustomers()">
                <button type="button" class="btn publish-event-button active" [class.disabled]="!isCustomerEditable">
                    Edit Customers</button>
            </div>
        </span> -->
        <div>
            <button class="h-100 btn" type="button" id="eventDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-ellipsis-h vertical-dot-icon"></i>
            </button>
            <div class="dropdown-menu fs-14" aria-labelledby="eventDropdown">
                <button class="dropdown-item" type="button" (click)="reUpload()"
                    [hidden]="isReUploadAllowed()">Re-Upload Sheet</button>
                <button class="dropdown-item" type="button" (click)="versionHistory()">Version
                    History</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="exportExcel()">Export as a file</button>
                <!-- <button class="dropdown-item" type="button">Cancel Event</button> -->
            </div>
        </div>
    </div>
    <div class="pt-2">
        <div class="custom-control custom-checkbox box">
            <!-- <input type="checkbox" class="custom-control-input checkbox" id="defaultUnchecked"
                [(ngModel)]="isExcludedZeroSelected" (change)="excludeZero()">
            <label class="custom-control-label exclude-time" for="defaultUnchecked">Exclude times with '0' quantity &
                price </label> -->
        </div>
    </div>
    <div class="mt-2 table-border" [ngStyle]="{'height.px': innerHeight}">
        <div class="row row-top" style="margin:0px;border-bottom: 1px solid #E4E8EC;;">
            <div class="pl-2 row-border">
                <div class=" custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="drevent-1" [(ngModel)]="selectAll"
                        (change)="changeAllEventSelection($event.target.checked)">
                    <label class="custom-control-label" for="drevent-1"></label>
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    DR EVENTS
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    TIME
                </div>
            </div>
            <div class="col row-border flex-grow ">
                <div class="dr-event  ">
                    PLANNED QTY (KW)
                </div>
            </div>
            <div class="col row-border">
                <div class="dr-event">
                    PRICE (PAISE/KW)
                </div>
            </div>
            <div class="col row-border plan-quantity-end ">
                <div class="dr-event customer-init ">
                    CUSTOMERS
                </div>
                <span class=" time-indication "
                    title="This column represents 'Customers Participated / Total Customers'">
                    <img src="assets/img/time-indicator.svg" alt=""></span>
            </div>
            <div class="col row-border ">
                <div class="dr-event ">
                    COMMITMENTS (KW)
                </div>
            </div>
            <div class="col row-border">
                <div class=" dr-event ">
                    SHORTFALL (KW)
                </div>
            </div>
            <div class="col row-border ">
                <div class="dr-event">
                    ACTUAL QTY (KW)
                </div>
            </div>
            <div class="col row-border ">
                <div class="dr-event">
                    DEVIATATION (KW)
                </div>
            </div>
            <div class="col row-border ">
                <div class="dr-event">
                    EVENT TYPE
                </div>
            </div>
            <div class="final-column">
            </div>
        </div>
        <div class="table-row-scroll" #pRef>

            <div class="row m-0 border-bottom" *ngFor="let event of events;let i=index;"
                [class.light-blue]="event.isSelected" [class.light-gray]="event.eventStatus == 'Created'"
                [class.light-yellow]="false" [class.light-red]="event.eventStatus == 'Cancelled'">
                <div class=" pl-2 row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" (click)="selectEvent(event.eventId)"
                            [(ngModel)]="event.isSelected" [id]="event.eventId">
                        <label class="custom-control-label" [for]="event.eventId"></label>
                    </div>
                </div>
                <div class="col row-border" (click)="openEventDetails(event)">
                    <div class="column-one event-name text-uppercase pointer">
                        {{event.eventName}}
                    </div>
                </div>
                <div class="col row-border" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{formatTime(event.startTime, 't')}}-{{formatTime(event.endTime, 't')}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end flex-grow" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{event.plannedPower}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{event.price}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{event.participatedCustomers}}/{{event.numberOfCustomers}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{event.committedPower}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header" (click)="openEventDetails(event)">
                    <!-- <div class="column-one">
                        {{getShortfall(event.plannedPower, event.committedPower)}}
                    </div> -->
                    <div class="column-one">
                        {{event.plannedPower - event.committedPower}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header" (click)="openEventDetails(event)">
                    <div class="column-one">
                        {{(+event.actualPower).toFixed(4)}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header" (click)="openEventDetails(event)">
                    <span class=" live-col-content live-radio-inner " *ngIf="event.eventStatus=='Live'">
                        <i class="fas fa-circle pr-2" style="font-size: 12px;" aria-hidden="true"></i> LIVE
                    </span>
                    <div class="column-one">
                        {{(+event.shortfall).toFixed(4)}}
                    </div>
                </div>
                <div class="col row-border plan-quantity-end commitement-header">
                    <div class="dropdown dropdown-col" data-toggle="dropdown">
                        <button type="button" class="dropdown-button event-type">
                            {{(event.eventTypeId==2)?'Load Shift':'Peak Shave'}}
                            <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                        </button>
                        <div class="dropdown-menu fs-14" id="dd{{i}}" (click)="$event.stopPropagation();" 
                        *ngIf="event.eventStatus == 'Created'">
                            <div class="dropdown-option">
                                <div class="md-radio">
                                    <input id="dd{{i}}-option1" type="radio" name="participeted{{i}}" [value]="1"
                                        [(ngModel)]="event.eventTypeId">
                                    <label for="dd{{i}}-option1" class="green">Peak Shave</label>
                                </div>
                            </div>
                            <div class="dropdown-option" id="dd{{i}}" (click)="$event.stopPropagation();">
                                <div class="md-radio">
                                    <input id="dd{{i}}-option2" type="radio" name="participeted{{i}}" [value]="2"
                                        [(ngModel)]="event.eventTypeId">
                                    <label for="dd{{i}}-option2" class="red">Load Shift</label>
                                </div>
                            </div>
                            <button type="button" class="active btn w-100 fs-14"
                                (click)="onConfirm(i,event.eventTypeId)">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-0 border-bottom sticky-content">
            <div style="width:39px;background-color: white;">
            </div>
            <div class="col row-border footer-color">
                <div class="row-footer">
                    TOTALS
                </div>
            </div>
            <div class="col row-border footer-color">
                <div class="row-footer plan-quantity-end">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end flex-grow ">
                <div class="row-footer">
                    {{totalPlannedQuantity}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer">
                    --
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{totalCommitments}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{totalPlannedQuantity - totalCommitments}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{(+totalActualQuantity).toFixed(4)}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end">
                <div class="row-footer ">
                    {{(+totalShortfall).toFixed(4)}}
                </div>
            </div>
            <div class="col row-border footer-color plan-quantity-end" style="margin-right: 7px;">
                <div class="row-footer">
                    --
                </div>
            </div>
        </div>


        <!-- for excel export -->
        <table id="dr-table" class="hidden-table">
            <tr>
                <th>Event Set Name</th>
                <th>Planned (KW)</th>
                <th>Commitments (KW)</th>
                <th>Actual Relief (KW)</th>
                <th>Actual Shortfall (KW)</th>
                <th>Incentive KWH (Rs)</th>
                <th>Cost (Rs)</th>
                <th>Penalty (Rs)</th>
                <th>Effective DR event cost (Rs)</th>
                <th>Execution efficiency index</th>
                <th>Customer commitment index</th>
            </tr>


            <tr *ngFor="let event of eventReport">
                <td> {{event.eventName}}</td>
                <td> {{event.plannedPower}}</td>
                <td> {{event.committedPower}}</td>
                <td> {{event.actualPower}}</td>
                <td> {{event.shortfall}} </td>
                <td> {{event.price}}</td>
                <td> {{event.totalCostPerEvent}} </td>
                <td> {{event.totalPenaltyPerEvent}} </td>
                <td> {{event.effectiveCostPerEvent}}</td>
                <td> {{event.effExecIndex}}</td>
                <td> {{event.cusCommitIndex}}</td>
            </tr>
            <tr></tr>
            <tr>
                <td>Summary</td>
                <td> {{totalPlannedQuantity}}</td>
                <td> {{totalCommitments}}</td>
                <td> {{totalActualQuantity}}</td>
                <td> {{totalShortfall}}</td>
                <td> - </td>
                <td>{{totalPrice}}</td>
                <td>{{totalPenalty}}</td>
                <td>{{totalPrice - totalPenalty}}</td>
                <td>{{totalEffExecIndex}}</td>
                <td>{{totalCusCommitIndex}}</td>
            </tr>
        </table>