<div class = "button-color">
    <button type="button" class="btn color-btn-inner"><a routerLink="../createevent">createevent</a></button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner"><a routerLink="../createeventdetails">createEventDetails</a></button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner"><a routerLink="../selecteventcustomers">selecteventcustomers</a></button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openPublishEvent()">publishEventModal</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openEventSetCustomer()">eventsetCustomers</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openVersionHistory()">versionHistory</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openDownloadReports()">downloadReportsModal</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openAcceptBid()">acceptBidModal</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="openRejectBidModal()">rejectBidModal</button>
</div>

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="addCustomerModalTI()">addCustomerModalTI</button>
</div> 

<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="addCustomerModalGI()">addCustomerModalGI</button>
</div>
<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="AddCustomerBulk()">addCustomerBulk</button>
</div>
<div class = "button-color">
    <button type="button" class="btn color-btn-inner" (click)="addCustomerModalER()">addCustomerModalER</button>
</div>
