
    <div class=" pl-4 pr-4 ">
        <div class ="inline-content">
            <div class = "year mr-auto">
                2019102608HYS
            </div>
            <div class = "button-margin">
                <button type="button" class="back-btn publish-event-button">Cancel Event </button>
            </div>
            <div class = " pt-1 button-margin">
                <i class="fas fa-ellipsis-h vertical-dot-icon"></i>
            </div>
        </div>
        <div class="inline-content" >
            <div class = "south pr-2" style="height: 30px !important;">
                South Hyderabad
            </div>
            <div class = "south pr-2">
                .
            </div>
            <div class="south">
                26 Oct, 2019
            </div>
        </div>
        <div class="inline-content" >
            <div class = "pr-5" style="height: 10px !important;">
                <div class = "clock-row">
                    <img  style = "padding-bottom: 4px;" class = "pr-1" src="assets/img/time-icon.svg" alt="time-icon">
                    09:00 AM   -   09:15 AM
                </div>
            </div>
            <div  class = " pr-5" style="height: 40px !important;">
                <div class = "clock-row">
                    <img class = "pr-1" src="assets/img/flash-icon.svg" alt="time-icon">
                    250 kWh
                </div>
            </div>
            <div style="height: 40px !important;">
                <div class = "clock-row">
                    <img class = "pr-1" src="assets/img/rupee-icon.svg" alt="time-icon">
                    1025 paise
                </div>
            </div>
        </div>
        <div class = "clock-row ">
            <img class = "pr-1 pb-1" src="assets/img/customers-icon.svg" alt="customer-icon">
            Customers
        </div>
        <div class = " mt-2 pb-3     inline-content actively" style = "width: 80%;">
            <div>
                <div class = "invites">Invitees</div>
                <div class = "invite-down">25</div>

            </div>
            <div class = "participant-next">
                <div class="invites"> Participated</div>
                <div class = "invite-down">18</div>

            </div>
            <div class = "participant-next">
                <div class="invites">Counter bid</div>
                <div class = "invite-down">00</div>
            </div>
            <div class = "participant-next" style="width: 126px;">
                <div class="invites">No Response</div>
                <div class = "invite-down seven-line">07</div>
            </div>
            <div class = "participant-next" style = "padding-left: 18px;">
                <div class="invites">Actively Participating</div>
                <div class = "invite-down">03</div>
            </div>
            <div class = "participant-next">
                <div class="invites">Non-Complaint User(has penalty)</div>
                <div class = "invite-down">01</div>
            </div>
                <div class = "ml-auto">
                    <div class="live-ending">Live  Ending in</div>
                    <div class = "invite-down" style="text-align: right;">00:10:23</div> 
                </div>
        </div>
        <div style ="width:80%;padding-left:20px">
            <div class = "table-border" [ngStyle]="{'height.px': innerHeight}">
                <div class="row pl-2 pr-4">
                    <div class="col select-customer">
                        <div class="row-customer">
                            Selected Customers - 06/25
                        </div>
                    </div>
                   
                    <form class="form-inline all-search ">
                        <div class="input-group">
                            <div class="input-group-prepend all-col-color">
                                
                                <div class="dropdown">
                                    <button type="button" class="drop-button" data-toggle="dropdown">
                                      All<i class="angle-icon fas fa-chevron-down"></i> 
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">Link 1</a>
                                      <a class="dropdown-item" href="#">Link 2</a>
                                      <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                  </div> 
                            </div>
                            <div class="md-form active">
                                <input class="form-control row-search search-event-up" type="text" placeholder="Search for customer" aria-label="Search">
                                <i class="fa fa-search search-icon-position" aria-hidden="true"></i>
                            </div>
                        </div>   
                    </form>
                </div>
               
                <div class="row row-top" style = "position: sticky;top: 0px;z-index: 1;border-bottom: 1px solid #E4E8EC;background: white;    padding-right: 7px;">
                      
                        <div class="col row-border">
                            <div class="dr-event">
                            CUSTOMERS
                            </div>
                        </div>
                        <div class="col row-border commitement-header end-content">
                            <div>
                                STATUS
                            </div>
                        </div>
                        <div class="col row-border commitement-header end-content" style = "width: 213px;">
                            <div class="len-row">
                                PRICE (PAISE/KW)
                            </div>
                        </div>
                        <div class="col row-border commitement-header end-content">
                            <div>
                                COMMITMENTS (KW)
                            </div>
                        </div>
                        <div class="col row-border commitement-header end-content">
                            <div>
                                TRANSFERRED (KW)
                            </div>
                        </div>
                    </div>
                        
                    <div class="table-row-scroll">
                       <div class="row row-top" style = "margin:0px;">
                            <div class="col row-border">
                                <div class="column-one">
                                    STC Developers
                                </div>
                            </div>
                            <div class="col row-border">
                                <div class="dropdown">
                                    <button type="button" class="drop-participate" data-toggle="dropdown">
                                        PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                    </button>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="col  quantity-end commitement-header">
                                <div class="end-content len-row ten-five">
                                1025
                                </div>
                            </div>
                            <div class="col  quantity-end commitement-header">
                                <div class="end-content">
                                --
                                </div>
                            </div>
                            <div class="col  quantity-end commitement-header">
                                <div class="end-content">
                                --
                                </div>
                            </div>
                        </div>
                    
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                STC Developers
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>

                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                STC Developers
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                Videocon
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <!-- <div class="end-content len-row ten-five">
                            1025
                            <span class = "box-curve" style="margin-left: 61px;padding: 2px 8px;">
                                COUNTER BID - ACCEPTED
                            </span>
                            </div> -->
                            <div>
                                1025

                            </div>
                            <div style="font-size: 10px;">
                                COUNTER BID - ACCEPTED

                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                STC Developers
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                Delhi Metro Corporation Ltd
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                Metro Corporation
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end">
                            <div class="end-content commitement-header">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                Metro Corporation
                            </div>
                        </div>
                        <div class="col row-border">
                            <div class="dropdown">
                                <button type="button" class="drop-participate" data-toggle="dropdown">
                                    PARTICIPATED <i class="angle-participant fas fa-chevron-down"></i>  
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Link 1</a>
                                  <a class="dropdown-item" href="#">Link 2</a>
                                  <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                              </div> 
                           
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content">
                            --
                            </div>
                        </div>
                    </div>
                    <div class="row row-top" style = "margin:0px;">
                        <div class="col row-border">
                            <div class="column-one">
                                Metro Corporation
                            </div>
                        </div>
                        <div class="col row-border response-show">
                            <div class = "no-response">
                                NO RESPONSE 
                            </div>
                        </div>
                        <div class="col  quantity-end commitement-header">
                            <div class="end-content len-row ten-five">
                            1025
                            </div>
                        </div>
                        <div class="col  quantity-end ">
                            <div class="end-content commitement-header">
                            --
                            </div>
                        </div>
                        <div class="col  quantity-end">
                            <div class="end-content commitement-header">
                            --
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
                    <div class="row row-top sticky-content">
                        <div style = "width:32px;background-color: white;">
                        </div>
                        <div class="col row-border footer-color seven-line" style = "width: 300px;">
                            <div class="row-footer "> 
                            TOTALS
                            </div>
                        </div>
                        <div class="col row-border footer-color end-content">
                            <div class="row-footer commitement-header">
                            --
                            </div>
                        </div>
                        <div class="col row-border footer-color end-last">
                            <div class="row-footer commitement-header len-row">
                            --
                            </div>
                        </div>
                        <div class="col row-border footer-color end-last">
                            <div class="row-footer commitement-header">
                            --
                            </div>
                        </div>
                        <div class="col row-border footer-color end-last" style="margin-right: 6px;">
                            <div class="row-footer commitement-header">
                            --
                            </div>
                        </div>
                    </div>
               
            
        </div> 
        <div class="footer-divider"></div>
        <div class="footer-back">
            <div class = "button-cancel-event">
                <button type="button" class="back-btn publish-event-button">Back </button>
            </div> 
            <div class = "button-margin">
                <button type="button" class="btn publish-event-button publish-inner-button">Update Customers & Publish</button>
            </div> 
        </div>
    </div>
