<div class=" pl-4 pr-4 ">
    <div>
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
    </div>
    <div class="inline-content">
        <div class="year d-flex mr-auto">
            {{eventName}}
            <div [class]="statusTagCSS">
                <i class="fas fa-circle pr-2" style="font-size: 12px;" aria-hidden="true"></i> {{statusTagName}}
            </div>
        </div>
        <div class="button-margin" *ngIf="eventStatus=='Created' || eventStatus=='Published'">
            <button type="button" class="back-btn publish-event-button" (click)="cancelEvent()">
                Cancel Event</button>
        </div>
        <div class="button-margin">
            <button class="back-btn" type="button" id="eventDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-ellipsis-h px-1"></i>
            </button>
            <div class="dropdown-menu fs-14" aria-labelledby="eventDropdown">
                <button class="dropdown-item" type="button" (click)="exportExcel()">Download</button>
            </div>
            <!-- <i class="fa fas fa-ellipsis-h vertical-dot-icon"></i> -->
        </div>
    </div>
    <div class="inline-content">
        <!-- <div class="south pr-2" style="height: 30px !important;">
            South Hyderabad 
        </div>
        <div class="south pr-2">
            .
        </div> -->
        <div class="south pr-2" style="height: 30px !important;">
            {{formatTime(startTime,'d')}}
        </div>
    </div>
    <div class="inline-content">
        <div class="pr-5" style="height: 10px !important;">
            <div class="clock-row">
                <img style="padding-bottom: 4px; " class="pr-1" src="assets/img/time-icon.svg" alt="time-icon">
                {{formatTime(startTime,'t')}} - {{formatTime(endTime,'t')}}
            </div>
        </div>
        <div class=" pr-5" style="height: 40px !important;">
            <div class="clock-row">
                <img class="pr-1" src="assets/img/flash-icon.svg" alt="time-icon">
                {{plannedPower}} kWh
            </div>
        </div>
        <div style="height: 40px !important;">
            <div class="clock-row">
                <img class="pr-1" src="assets/img/rupee-icon.svg" alt="time-icon" style="padding-bottom: 3px;">
                {{price}} paise/kWh
            </div>
        </div>
    </div>
    <div class="clock-row ">
        <img class="pr-1 pb-1" src="assets/img/customers-icon.svg" alt="customer-icon">
        Customers
    </div>
    <div class=" mt-2 pb-3 inline-content actively" style="width: 75%;">
        <div>
            <div class="invites">Invitees</div>
            <div class="invite-down">{{eventOverview?.numberOfCustomers}}</div>
        </div>
        <div class="pl-5">
            <div class="invites"> Participated</div>
            <div class="invite-down">{{eventOverview?.participatedCustomers}}</div>
        </div>
        <div class="pl-5">
            <div class="invites">Counter bid</div>
            <div class="invite-down">{{eventOverview?.counterBidCustomers}}</div>
        </div>
        <div class="pl-5">
            <div class="invites">No Response</div>
            <div class="invite-down">{{eventOverview?.noResponseCustomers}}</div>
            <!-- Enable this when below two divisions have to be shown-->
            <!--<div class="invite-down seven-line">{{eventOverview?.noResponseCustomers}}</div>-->
        </div>
        <!-- <div class="pl-5">
            <div class="invites">Actively Participating</div>
            <div class="invite-down">03</div>
        </div> -->
        <div class="pl-5" *ngIf="eventOverview?.eventStatus == 'Completed'">
            <div class="invites">Non-Complaint User(has penalty)</div>
            <div class="invite-down">{{getPenaltyCusCount()}}</div>
        </div>
        <div class="ml-auto" *ngIf="eventOverview?.eventStatus == 'Live'">
            <div class="live-ending">Live Ending in</div>
            <!-- <div class="timer">{{min}}::{{sec}}</div> -->
            <countdown class="timer" [config]="{ leftTime: leftTime, format: 'mm:ss' }"></countdown>
        </div>
    </div>
    <div style="width:75%;padding-left:20px;padding-bottom: 26px;">
        <div class="table-border" [ngStyle]="{'max-height.px': innerHeight}">
            <div class="row pl-2 pr-4">
                <div class="col select-customer">
                    <div class="row-customer" style="padding-left: 25px;">
                        Participation Status - {{eventOverview?.numberOfCustomers}}/{{eventOverview?.numberOfCustomers}}
                    </div>
                </div>
                <form class="form-inline all-search ">
                    <div class="input-group">
                        <!-- <div class="input-group-prepend all-col-color">
                            <div class="dropdown">
                                <button type="button" class="drop-button" data-toggle="dropdown">
                                    All<i class="angle-icon fas fa-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </div>
                        </div> -->
                        <div class="input-group-prepend">
                            <button type="button" tabindex="-1" class="refresh-button"
                                (click)="refreshCustomerDetails()">
                                <i class="fas fa-sync"></i>
                            </button>

                        </div>
                        <div class="md-form active">
                            <input class="form-control row-search search-event-up" type="text"
                                placeholder="Search for customer" aria-label="Search" name="search"
                                [(ngModel)]="searchCustomer" (input)="searchCustomers()">
                            <i class="fa fa-search search-icon-position" aria-hidden="true"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row row-top" style="padding-right: 7px;border-bottom: 1px solid#E4E8EC;">
                <div class="row-border">
                    <!-- <div class=" custom-control custom-checkbox">

                    </div> -->
                </div>
                <div class="col mw-300 row-border">
                    <div class="column-one new-top-col">
                        CUSTOMERS
                    </div>
                </div>
                <div class="col mw-160 row-border end-content new-top-col">
                    STATUS
                </div>
                <div class="col mw-250">
                    <div class="end-content  total-pad quantity-start len-row"
                        style="font-family: SourceSansPro-SemiBold;font-size: 12px;color: #2E2E2E;letter-spacing: 0;justify-content: center;">
                        PRICE (PAISE/KWH)
                    </div>
                </div>
                <div class="col col-2 quantity-end commitement-column" style="justify-content: center;">
                    <div class="end-content new-top-col">
                        COMMITMENTS (KW)
                    </div>
                </div>
                <div class="col col-2 quantity-end commitement-column" style="justify-content: center;">
                    <div class="end-content new-top-col">
                        TRANSFERRED (KW)
                    </div>
                </div>
            </div>
            <div class="table-row-scroll">
                <div class="row m-0 border-bottom" [class.light-red]="customer.isFineApplicable=='Y'"
                    *ngFor="let customer of customerList;let i=index;">
                    <div class="row-border">
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                (click)="selectCustomer(customer.customerId)" id="customer.customerId">
                            <label class="custom-control-label" for="customer.customerId"></label>
                        </div> -->
                    </div>
                    <div class="col mw-300 row-border justify-content-start">
                        <div class="column-one ">
                            {{customer.userName}}
                        </div>
                    </div>
                    <div class="col mw-160 row-border end-content">
                        <div class="dropdown dropdown-col" data-toggle="dropdown">
                            <button type="button" class="dropdown-button drop-participate" *ngIf="customer.status==3">
                                PARTICIPATED <i class="dropdown-arrow fas fa-chevron-down"></i>
                            </button>
                            <button type="button" class="dropdown-button drop-accept" *ngIf="customer.status==5">
                                PARTICIPATED
                                <!-- <i class="dropdown-arrow fas fa-chevron-down"></i> -->
                            </button>
                            <button type="button" class="dropdown-button drop-complete" *ngIf="customer.status==8">
                                PARTICIPATED
                            </button>
                            <button type="button" class="dropdown-button drop-complete" *ngIf="customer.status==13">
                                LIVE
                            </button>
                            <button type="button" class="dropdown-button drop-rejected" *ngIf="customer.status==6">
                                REJECTED
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-rejected" *ngIf="customer.status==9">
                                CANCELLED
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-rejected" *ngIf="customer.status==14">
                                EXPIRED
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-rejected" *ngIf="customer.status==7">
                                WITHDRAWN
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-rejected"
                                *ngIf="customer.status==9">
                                CANCELLED
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-noresponse" *ngIf="customer.status==2">
                                NO RESPONSE
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-noresponse" *ngIf="customer.status==1">
                                TO BE NOTIFIED
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-counterbid" *ngIf="customer.status==4">
                                COUNTER BID
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-counterbid" *ngIf="customer.status==10">
                                PENALTY
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <button type="button" class="dropdown-button drop-counterbid"
                                *ngIf="customer.status==11 || customer.status==12">
                                OFFLINE
                                <!--<i class="dropdown-arrow fas fa-chevron-down"></i>-->
                            </button>
                            <div class="dropdown-menu fs-14" id="dd{{i}}" (click)="$event.stopPropagation();"
                                *ngIf="customer.status==3">
                                <div class="dropdown-option">
                                    <div class="md-radio">
                                        <input id="dd{{i}}-option1" type="radio" name="participeted{{i}}" [value]="'1'"
                                            [(ngModel)]="customer.participationStatus">
                                        <label for="dd{{i}}-option1" class="green">Participated</label>
                                    </div>
                                </div>
                                <div class="dropdown-option" id="dd{{i}}" (click)="$event.stopPropagation();">
                                    <div class="md-radio">
                                        <input id="dd{{i}}-option2" type="radio" name="participeted{{i}}" [value]="'0'"
                                            [(ngModel)]="customer.participationStatus">
                                        <label for="dd{{i}}-option2" class="red">Rejected</label>
                                    </div>
                                </div>
                                <button type="button" class="btn w-100 fs-14"
                                    (click)="onConfirm(i,customer.participationStatus)">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col mw-250 commitement-column">
                        <div
                            class="end-content total-pad quantity-start len-row ten-five d-flex justify-content-between">
                            <span>{{customer.price}}</span>
                            <!-- <span *ngIf="customer.counterBidFlag=='N'"> {{customer.price}}</span> -->
                            <!-- <span *ngIf="customer.counterBidFlag=='Y'"> {{customer.couterBidAmount}}</span> -->
                            <div *ngIf="customer.status==4 && eventStatus=='Gate Closed'">
                                <span class="link" (click)="acceptCounterBid(customer.userId)"> Accept</span>
                                <span class="link"> | </span>
                                <span class="link" (click)="rejectCustomer(customer.userId)"> Reject</span>
                            </div>
                            <!--TBD-->
                            <button type="button" class="counter-bid-accepted" data-toggle="dropdown"
                                *ngIf="customer.status==5 && customer.counterBidFlag=='Y'">
                                COUNTER BID - ACCEPTED
                            </button>
                            <button type="button" class="counter-bid-rejected" data-toggle="dropdown"
                                *ngIf="customer.status==6 && customer.counterBidFlag=='Y'">
                                COUNTER BID - REJECTED
                            </button>
                        </div>
                    </div>
                    <div class="col col-2 quantity-end commitement-column">
                        <div class="end-content content-module">
                            {{customer.commitments}}
                        </div>
                    </div>
                    <div class="col col-2 quantity-end commitement-column content-module">
                        <div class="end-content content-module">
                            {{customer.actualPower}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 border-bottom sticky-content"
                style="padding-right: 6px;border-bottom: 1px solid#E4E8EC;">
                <div class="row-border footer-color border-right">
                    <!-- <div class=" custom-control custom-checkbox">

                    </div> -->
                </div>
                <div class="col mw-300 row-border footer-color seven-line">
                    <div class="row-footer total-pad color-footer-bottom" style="padding-left: 14px;">
                        TOTALS
                    </div>
                </div>
                <div class="col mw-160 row-border footer-color seven-line end-content">
                    <div class="row-footer commitement-header" style="color: #2E2E2E;">
                        --
                    </div>
                </div>
                <div class="col mw-250 row-border footer-color seven-line end-last"
                    style="justify-content: flex-start;">
                    <div class="row-footer commitement-header len-row color-footer-bottom" style="padding-left: 10px;">
                        --
                    </div>
                </div>
                <div class="col col-2 row-border footer-color seven-line end-last">
                    <div class="row-footer commitement-header content-module color-footer-bottom">
                        {{totalCommittedPower}}
                    </div>
                </div>
                <div class="col col-2 row-border footer-color seven-line end-last">
                    <div class="row-footer commitement-header content-module color-footer-bottom">
                        {{totalActualPower}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <div class="inline-content border-top p-3">
    <div class="mr-auto">

    </div>
    <div class="button-margin">
        <button type="button" class="back-btn publish-event-button">Back</button>
    </div>
    <div class="button-margin">
        <button type="button" class="btn publish-button">Update & Publish</button>
    </div>
</div> -->

<!-- for excel export -->
<table id="dr-events-table" class="hidden-table">
    <tr>
        <th>Customer Name</th>
        <th>Planned (KW)</th>
        <th>Commitments (KW)</th>
        <th>Actual Relief (KW)</th>
        <th>Actual Shortfall (KW)</th>
        <th>Incentive KWh (Rs)</th>
        <th>Cost (Rs)</th>
        <th>Penalty (Rs)</th>
        <th>Effective Cost</th>
        <th>Event Success Index</th>
    </tr>
    <tr *ngFor="let customer of reportTable">
        <td> {{customer.userName}}</td>
        <td></td>
        <td> {{customer.commitments}} </td>
        <td> {{customer.actualPower}}</td>
        <td> {{customer.shortfall}}</td>
        <td> {{customer.incentive}}</td>
        <td> {{customer.cost}}</td>
        <td> {{customer.penalty}} </td>
        <td> {{customer.effCost}} </td>
        <td> {{customer.sucessIndex}} </td>
    </tr>
    <tr></tr>
    <tr>
        <td> Summary </td>
        <td> {{plannedPower}}</td>
        <td> {{totalCommittedPower}} </td>
        <td> {{totalActualPower}}</td>
        <td> {{totalActualPower - totalCommittedPower}}</td>
        <td> </td>
        <td> {{getTotalCost()}} </td>
        <td> {{getTotalPenalty()}} </td>
        <td> {{getTotalEffCost()}} </td>
        <td> {{getTotalSuccessIndex()}} </td>
    </tr>
</table>