.modalti-main{
    height: 449px;
    background: #FFFFFF;
    border-radius: 4px;
} 
.close-icon{
    text-align: right;
    margin-right: 16px;
}
.indent-common{
    margin-left: 40px;
}
.add-customer{  
    font-family: SourceSansPro-Bold;
    font-size: 24px;
    color: #2E2E2E;
    letter-spacing: 0;
} 
.tech-info-main{
    margin-top: 29px;
    justify-content: center;
    margin-left: 22px;
}
.divider{
    width: 50px;
    background-color: #DFE2E5;
    height: 1px;
    align-self: center;
    margin: 0px 12px;
}
.text-col{
    padding-right: 14px;
}
.tec-info-style{
    font-family: SourceSansPro-SemiBold;
    font-size: 12px;
    color: #00349A;
    letter-spacing: 0;
} 
.tech-info-inner{
    padding-right: 14px;
    margin-top: -3px;
}
.footer-indent{
    padding-top: 16px;
}
.footer-divider{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    background-color: #B8C1CB;
    height: 1px;
    opacity: 0.5;
}
.footer-outer-row{
    height: 130px;
}
.num-one-col{
    height: 24px;
    width: 24px;
    border: 1px solid #00309F;
}    
.general-info{
    font-family: SourceSansPro-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    opacity: 0.5;
}   
.one-col{
    border: 1px solid #00309F;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 17px;
    padding-top: 1.5px;
}
.contract-account{
    font-family: SourceSansPro-SemiBold;
    font-size: 12px;
    color: #727479;
    letter-spacing: 0;
    padding-top: 24px;  
}
.no-data-col{
    font-family: SourceSansPro-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
}
.footer-line{
    font-family: SourceSansPro-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
}
.displayflex{
    display: flex;
}
.body-col{
    font-family: SourceSansPro-SemiBold;
    font-size: 16px;
    color: #00349A;
    letter-spacing: 0;
}
.body-border-row{
    border: 1px solid #DFE2E5;
    width: 300px;
    height: 40px;
    border-radius: 4px;
}
.align-center{
    align-self: center;
}
.textright{
    text-align: right;
}
.text-general{
    margin-left: 15px;
    margin-top: 8px;
}
.button-inner{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    background-color: #00349A;
    border: 0px;
    border-radius: 4px;
    width: 102px;
    height: 36px;
    outline: 0px;
}
.cancel-btn{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #00349A;
    text-align: center;
    line-height: 19px;
    background-color: #FFFFFF;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
    border: 0px;
    width: 87px;
    height: 36px;
    outline: 0px;
}
.cancel-outer-btn{
    margin-right: 16px;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
}
.next-btn{
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    background-color: #00349A;
    border-radius: 4px;
    border: 0px;
    width: 87px;
    height: 36px;
    opacity: 0.5;
    outline: 0px;
}
.button-row{
    justify-content: flex-end;
    margin: 10px 24px 0px 0px;
}
.input-column{
    outline: 0px;
    border: 0px;
    color: #00349A;
    width: 113%;
}
::placeholder {
    color: #00349A;
    /* Firefox */
  }
  
  :-ms-input-placeholder { 
   color: #00349A;
  }
  
  ::-ms-input-placeholder { 
   color: #00349A;
  }