<div class = "modalti-main ">
    <div class="row close-icon ">
        <div class="col">
            <img src="assets/img/close.svg" alt="">
        </div>
    </div>
    <div class="row indent-common">
        <div class="col add-customer">
            Add Customer
        </div>
    </div>
    <div class="displayflex tech-info-main">
        <div class="tech-info-inner">
            <div class="tec-info-style  one-col">
                1
            </div>
        </div>
        <div class="tec-info-style ">
            Technical Information
        </div>
        <div class="divider"></div>
        <div class="general-info text-col">
            2
        </div>
        <div class="general-info ">
            General Information 
        </div>
        <div class="divider"></div>
        <div class="general-info text-col">
        3
        </div>
        <div class="general-info">
            Energy Resources
        </div>
    </div>
    <div class="row contract-account indent-common">
        <div class="col">
            Contract Account
        </div>
    </div>
    <div class="text-general">
        <div class="row body-border-row indent-common">
            <div class="col body-col align-center">100003268</div>
            <div class="col textright align-center">
                <img src="assets/img/red-cancel.svg" alt="">
            </div>
        </div>
    </div>
    <div class="text-general footer-indent">
        <div class="row indent-common ">
            <div class="col-6.5 no-data-col  align-center">
                No data has been found with mentioned ‘Contract Account Number’
            </div>
            <div class="col button-outer ">
                <button class="button-inner">Add Manually</button>
            </div>  
        </div>
    </div>
    <div class="footer-outer-row"></div>
    <div class="footer-divider"></div>
    <div class="row button-row">
        <div class="cancel-outer-btn">
          <button class=" cancel-btn"> Cancel</button>
        </div>
        <div>
             <button class=" next-btn"> Next</button>
        </div>
    </div>
   
    

</div>