<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jeera Powder</title>
</head>
<body>
    <div class = "pl-4 header-name">
        Untitled Event Name
    </div>
    <div class="mt-2 event-outline file-upload content-align">
        <div class = "upload-middle ">
            <div><img src="../../../assets/img/cloud-upload.svg" alt="upload"></div>
            Drag & drop the sheet or
            <a href="#" class = " drag-sector browse-text  row-space"> 
                browse
            </a>
            files to upload 
        </div>
    </div>
</body>
</html>