.main {
  background: #ffffff;
  border-radius: 4px;
  height: 450px;
  width: 600px;
  display: -webkit-flex;
  flex-direction: column;

  .header-row {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 24px;
    padding-top: 24px;
  }

  .content-row {
    padding-left: 50px;
    padding-right: 50px;

    // input {
    //   opacity: 0;
    //   position: absolute;
    //   z-index: 2;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    // }

    .title {
      font-family: SourceSansPro-Bold;
      font-size: 24px;
      color: #2e2e2e;
      letter-spacing: 0;
    }

    .form-label {
      font-size: 14px;
      font-weight: 600;
      color: #787878;
    }

    .form-control {
      font-size: 16px;
      font-weight: 600;
      color: #00349a;
    }

    .req {
      color: red;
    }

    .file-upload {
      font-family: SourceSansPro-Regular;
      font-size: 16px;
      color: #2e2e2e;
      letter-spacing: 0;
      height: 200px;
      border: 1px dashed #00349a;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .browse-text {
        text-decoration: none !important;
        color: #0056b3;
        cursor: pointer;
        font-family: SourceSansPro-Regular;
        font-size: 16px;
        letter-spacing: 0;
      }
    }

    #file-input {
      display: none;
    }
  }

  .footer-row {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-top: 10px;
    margin-top: auto;
    border-top: 1px solid #eeeeee;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;

    .btn {
      width: 100px;
      text-align: center;
      border-radius: 4px;
    }

    .btn:focus {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25) !important;
    }

    .button-color {
      color: #ffffff;
      background: #00349a;
      margin-left: 12px;
    }

    .button-cancel {
      color: #00349a;
      background: #ffffff;
      border: 1px solid #dfe2e5;
    }
  }
}

.toast-container.toast-top-center .ngx-toastr {
  width: 400px;
  top: 90px;
}

.toast-info {
  background-color: #417505;
  // background-image:''
}

// .header-name {
//   font-family: SourceSansPro-Bold;
//   font-size: 24px;
//   color: #00349A;
//   letter-spacing: 0;
// }

// .launch {
//   padding-top: 16px;
// }

// .title { s
//   font-family: SourceSansPro-Bold;
//   font-size: 24px;
//   color: #2E2E2E;
//   letter-spacing: 0;
//   padding-top: 16px;
// }

// .body-content {
//   font-family: SourceSansPro-Regular;
//   font-size: 14px;
//   color: #2E2E2E;
//   letter-spacing: 0;
//   padding-top: 4px;
// }

// .btn:focus {
//   box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important;
// }

// .cancel-btn {
//   font-family: SourceSansPro-SemiBold;
//   font-size: 14px;
//   color: #417505;
//   text-align: center;
//   width: 87px;
//   height: 37px;
// }

// .button-inner {
//   background: #FFFFFF;
//   border-radius: 4px;
// }

// .color-btn-inner {
//   color: #FFFFFF;
//   letter-spacing: 0;
//   text-align: center;
//   width: 197px;
// }

// .footer-divider {
//   height: 1px;
//   background-color: #B8C1CB;
//   padding: 0px;
//   opacity: 0.5;
// }

// .content-bottom {
//   font-family: SourceSansPro-Regular;
//   font-size: 14px;
//   color: #000000;
//   letter-spacing: 0;
//   line-height: 24px;
//   padding-top: 22px;
// }

.container {
  // width: 450px;
  // height: 200px;
  // padding: 2rem;
  // text-align: center;
  // border: dashed 1px #979797;
  // position: relative;
  // margin: 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;

    .delete {
      display: flex;
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }


    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}