<div class="main-indent">
    <div class = "displayflex justify-evenly ">
        <div class="list-event">List of Event Sets</div>
        <div>
            <button type="button" class =" btn schedule-event-button active"> Schedule a DR Event </button>
        </div>
    </div>
    <div class=" row margin-common  upcoming-row outer-division bottom-down">
        <div class="col-2 main-content-inner">
            <div >
                Date
            </div>     
        </div>
            
        <div class="col-2 main-content-inner">
            <div>
                Event Name
            </div>
        </div>
        <div class="col-2 power-inner">
            <div>
                Power (planned/actual)
            </div>
        </div>
        <div class="col-2 total-price-inner total-inner-col">
            <div class="">
                Total Price
            </div>
        </div>
        <div class="col-3 eventoverview-inner published-col ">
            <div>
                Event Overview (published/completed/cancelled)
            </div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div>
            Upcoming Demand Response Events (1)
        </div>
    </div>
    <div class=" row margin-common header-bottom outer-division common-border  ">
        <div class="col-2 main-content-inner">
            <div class=" date-col ">
                26 Oct, 2019
            </div>
        </div>
        <div class="col-2  main-content-inner">
            <div class="event-col">
                20191026HYS
            </div>
        </div>
        <div class="col-2 power-inner ">
            <div class="power-col  kiloweight ">
                4200kW/3020kW
            </div>
        </div>
        <div class="col-2 total-price-inner total-inner-col ">
            <div class="  total-price align-right middle-section ">
                —
            </div>
        </div>
        <div class="col-3 eventoverview-inner published-col ">
            <div class="publish-col align-right complete-col ">
                09 / 08 / —
            </div>
        </div>
       
        <div class = "col-1 publish-col-int">
            <div class=" publish-end-col ">
                   Published
            </div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div>
            This Week
        </div>
    </div>
    <div class="common-border">
        <div class=" row margin-common header-bottom outer-division bottom-down ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    16 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191016HYSV2
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    30000kW/28900kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col">
                <div class="  total-price align-right middle-section ">
                    ₹ 2500
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col ">
                    10 / 09 / 01
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-col ">
                    Published
                </div>
            </div>
        </div>
        <div class=" row margin-common header-bottom outer-division bottom-down ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    14 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191014HYE
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    10000kW/8900kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col  ">
                <div class=" total-price align-right middle-section ">
                    ₹ 1000
                </div>
            </div>   
            <div class="col-3 eventoverview-inner published-col">
                <div class="publish-col align-right complete-col ">
                    06 / 06 / —
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-change ">
                    Partially Published
                </div>
            </div>
        </div>
        <div class=" row margin-common header-bottom outer-division ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    12 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191012HYWV1
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    80kW/79kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col">
                <div class=" total-price align-right middle-section ">
                    ₹ 780
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col ">
                    10 / 09 / 01
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-change ">
                    Partially Published
                </div>
            </div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div>
            This Month
        </div>
    </div>
    <div class="common-border mb-5">
        <div class=" row margin-common header-bottom outer-division bottom-down ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    16 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191016HYSV2
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    30000kW/28900kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col ">
                <div class=" total-price align-right middle-section ">
                    ₹ 2500
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col ">
                    10 / 09 / 01
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-col ">
                    Published
                </div>
            </div>
        </div>
        <div class=" row margin-common header-bottom outer-division bottom-down ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    14 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191014HYE
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    10000kW/8900kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col">
                <div class=" total-price align-right middle-section ">
                    ₹ 1000
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col">
                <div class="publish-col align-right complete-col ">
                    06 / 06 / —
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-change ">
                    Partially Published
                </div>
            </div>
        </div>
        <div class=" row margin-common header-bottom outer-division ">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">
                    12 Oct, 2019
                </div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col">
                    20191012HYWV1
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col  kiloweight ">
                    80kW/79kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col">
                <div class=" total-price align-right middle-section ">
                    ₹ 780
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col">
                <div class="publish-col align-right complete-col ">
                    10 / 09 / 01
                </div>
            </div>
            <div class = "col-1 publish-col-int">
                <div class=" publish-end-change ">
                    Partially Published
                </div>
            </div>
        </div>
    </div>
</div>