<div class="main-indent">
    <div class="d-flex justify-content-between">
        <div class="list-event">List of Event Sets</div>
        <button type="button" class=" btn schedule-event-button active" (click)="scheduleDrEvent()">
            Schedule a DR Event
        </button>
    </div>
    <div class="row m-0 pt-24 upcoming-row outer-division bottom-down">
        <div class="col-2 main-content-inner">
            <div>Date</div>
        </div>
        <div class="col-2 main-content-inner">
            <div>Event Name</div>
        </div>
        <div class="col-2 power-inner">
            <div>Power (planned/actual)</div>
        </div>
        <div class="col-2 total-price-inner total-inner-col">
            <div>Total Price</div>
        </div>
        <div class="col-3 eventoverview-inner published-col ">
            <div>Event Overview (published/completed/cancelled)</div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div>Upcoming Demand Response Events ({{upcomingEventSets?.length}})</div>
    </div>
    <div class="common-border">
        <div *ngIf="upcomingEventSets?.length==0"
            class="d-flex flex-column align-items-center justify-content-center empty">
            <img src="../../../assets/img/no-events.svg" alt="">
            <div>No Scheduled Demand Response Events</div>
        </div>
        <div class=" row margin-common header-bottom outer-division common-border"
            *ngFor="let upcomingEventSet of upcomingEventSets"
            (click)="openEventSetDetails(upcomingEventSet, 'upcoming')">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">{{formatTime(upcomingEventSet.dateOfOccurence,'d')}}</div>
            </div>
            <div class="col-2 main-content-inner">
                <div class="event-col event-name text-uppercase pointer"
                    (click)="openEventSetDetails(upcomingEventSet, 'upcoming')">{{upcomingEventSet.eventSetName}}
                </div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col">
                    {{upcomingEventSet.plannedPower}} KW / {{upcomingEventSet.actualPower}}KW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col ">
                <div class="  total-price align-right middle-section ">
                    ₹ {{upcomingEventSet.totalPrice}}
                </div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col ">{{upcomingEventSet.publishedEvents}}
                    / {{upcomingEventSet.completedEvents}} / {{upcomingEventSet.cancelledEvents}}</div>
            </div>
            <div class="col-1 publish-col-int">
                <div class="status status-uploaded" *ngIf='upcomingEventSet.eventSetStatus == "Created"'>
                    {{getStatus(upcomingEventSet.eventSetStatus)}}</div>
                <div class="status status-publish" *ngIf='upcomingEventSet.eventSetStatus == "Published"'>
                    {{getStatus(upcomingEventSet.eventSetStatus)}}</div>
                <div class="status status-partially-publish" *ngIf='upcomingEventSet.eventSetStatus == "Partially Published"'>
                    {{getStatus(upcomingEventSet.eventSetStatus)}}</div>
                <div class="status status-completed" *ngIf='upcomingEventSet.eventSetStatus == "Completed"
                                                         || upcomingEventSet.eventSetStatus == "Expired"'>
                    {{getStatus(upcomingEventSet.eventSetStatus)}}</div>
                <!-- <div class=" publish-end-change ">Published</div> -->
            </div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div> This Week ({{curWeekEventSets?.length}})</div>
    </div>
    <div class="common-border">
        <div *ngIf="curWeekEventSets?.length==0"
            class="d-flex flex-column align-items-center justify-content-center empty">
            <img src="../../../assets/img/no-events.svg" alt="">
            <div>No Scheduled Demand Response Events</div>
        </div>
        <div class=" row margin-common header-bottom outer-division bottom-down "
            *ngFor="let curWeekEventSet of curWeekEventSets" (click)="openEventSetDetails(curWeekEventSet, 'curWeek')">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">{{formatTime(curWeekEventSet.dateOfOccurence,'d')}}</div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col event-name text-uppercase pointer"
                    (click)="openEventSetDetails(curWeekEventSet, 'curWeek')">
                    {{curWeekEventSet.eventSetName}}</div>
            </div>
            <div class="col-2 power-inner">
                <div class="power-col">
                    {{curWeekEventSet.plannedPower}}kW / {{curWeekEventSet.actualPower}}kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col">
                <div class="  total-price align-right middle-section ">₹ {{curWeekEventSet.totalPrice}}</div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col "> {{curWeekEventSet.publishedEvents}}
                    / {{curWeekEventSet.completedEvents}} / {{curWeekEventSet.cancelledEvents}}</div>
            </div>
            <div class="col-1 publish-col-int">
                <div class="status status-uploaded" *ngIf='curWeekEventSet.eventSetStatus == "Created"'>
                    {{getStatus(curWeekEventSet.eventSetStatus)}}</div>
                <div class="status status-publish" *ngIf='curWeekEventSet.eventSetStatus == "Published"'>
                    {{getStatus(curWeekEventSet.eventSetStatus)}}</div>
                <div class="status status-partially-publish" *ngIf='curWeekEventSet.eventSetStatus == "Partially Published"'>
                    {{getStatus(curWeekEventSet.eventSetStatus)}}</div>
                <div class="status status-completed" *ngIf='curWeekEventSet.eventSetStatus == "Completed"
                                                         || curWeekEventSet.eventSetStatus == "Expired"'>
                    {{getStatus(curWeekEventSet.eventSetStatus)}}</div>
            </div>
        </div>
    </div>
    <div class=" row margin-common displayflex justify-evenly  inner-division  upcoming-row">
        <div>This Month ({{curMonthEventSets?.length}})</div>
    </div>
    <div class="common-border mb-5">
        <div *ngIf="curMonthEventSets?.length==0"
            class="d-flex flex-column align-items-center justify-content-center empty">
            <img src="../../../assets/img/no-events.svg" alt="">
            <div>No Scheduled Demand Response Events</div>
        </div>
        <div class=" row margin-common header-bottom outer-division bottom-down "
            *ngFor="let curMonthEventSet of curMonthEventSets"
            (click)="openEventSetDetails(curMonthEventSet, 'curMonth')">
            <div class="col-2 main-content-inner">
                <div class=" date-col ">{{formatTime(curMonthEventSet.dateOfOccurence,'d')}}</div>
            </div>
            <div class="col-2  main-content-inner">
                <div class="event-col event-name text-uppercase pointer"
                    (click)="openEventSetDetails(curMonthEventSet, 'curMonth')">
                    {{curMonthEventSet.eventSetName}}</div>
            </div>
            <div class="col-2 power-inner ">
                <div class="power-col">
                    {{curMonthEventSet.plannedPower}}kW / {{curMonthEventSet.actualPower}}kW
                </div>
            </div>
            <div class="col-2 total-price-inner total-inner-col ">
                <div class=" total-price align-right middle-section "> ₹ {{curMonthEventSet.totalPrice}}</div>
            </div>
            <div class="col-3 eventoverview-inner published-col ">
                <div class="publish-col align-right complete-col ">{{curMonthEventSet.publishedEvents}}
                    / {{curMonthEventSet.completedEvents}} / {{curMonthEventSet.cancelledEvents}}</div>
            </div>
            <div class="col-1 publish-col-int">
                <div class="status status-uploaded" *ngIf='curMonthEventSet.eventSetStatus == "Created"'>
                    {{getStatus(curMonthEventSet.eventSetStatus)}}</div>
                <div class="status status-publish" *ngIf='curMonthEventSet.eventSetStatus == "Published"'>
                    {{getStatus(curMonthEventSet.eventSetStatus)}}</div>
                <div class="status status-partially-publish" *ngIf='curMonthEventSet.eventSetStatus == "Partially Published"'>
                    {{getStatus(curMonthEventSet.eventSetStatus)}}</div>
                <div class="status status-completed" *ngIf='curMonthEventSet.eventSetStatus == "Completed"
                                                         || curMonthEventSet.eventSetStatus == "Expired"'>
                    {{getStatus(curMonthEventSet.eventSetStatus)}}</div>   
            </div>
        </div>
    </div>

</div>