<div class=" pl-4 pr-4 full-body">
    <div class="close-icon" style="margin-right: -10px;" (click)="activeModal.close('Close click')">
        <img src="../../../assets/img/close.svg" alt="logo">
    </div>
    <div class="header-top-content">
        List of Customers
    </div>
    <div class="header-second-content">
        The list is only shown for 9 of 10 events.
    </div>
    <div style="padding-left:20px">
        <div class="table-border">
            <div class="row pl-2 pr-4">
                <div class="col select-customer">
                    <div class="row-customer" style="padding-left:5px;">
                        Selected Customers - 25/25
                    </div>
                </div>

                <form class="form-inline all-search ">
                    <div class="input-group">
                        <!-- <div class="input-group-prepend all-col-color">

                            <div class="dropdown">
                                <button type="button" class="drop-button" data-toggle="dropdown">
                                    All<i class="angle-icon fas fa-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                    <a class="dropdown-item" href="#">Link 3</a>
                                </div>
                            </div>
                        </div> -->
                        <div class="md-form active">
                            <input class="form-control row-search search-event-up" type="text"
                                placeholder="Search for customer" aria-label="Search">
                            <i class="fa fa-search search-icon-position" aria-hidden="true"></i>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row row-top"
                style="position: sticky;top: 0px;z-index: 1;border-bottom: 1px solid #E4E8EC;background: white;    padding-right: 7px;">
                <div class=" row-border">
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="selectAll"
                            (change)="changeAllCustomerSelection($event.target.checked)">
                        <label class="custom-control-label" for="selectAll"></label>
                    </div>
                </div>
                <div class="col row-border">
                    <div class="dr-event">
                        CUSTOMER NAMES
                    </div>
                </div>
            </div>

            <div class="table-row-scroll">
                <div class="row row-top" style="margin:0px;" *ngFor="let customer of customerList">
                    <div class=" row-border">
                        <div class=" custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="customer.isSelected"
                                (click)="selectCustomer(customer.userId)" [id]="customer.userId">
                            <label class="custom-control-label" [for]="customer.userId"></label>
                        </div>
                    </div>
                    <div class="col row-border">
                        <div class="column-one">
                            {{customer.userName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;padding: 15px 0px 0px 12px;">
        <div class=" pl-2">
            <div class=" custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="12">
                <label class="custom-control-label" for="12"></label>
            </div>
        </div>
        <div class="end-content">
            I understand that, this action is undone. By updating the event, notification is sent to all the selected
            customers with the time range of the DR Event
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-back">
        <div class="button-cancel-event">
            <button type="button" class="back-btn publish-event-button" [class.disabled]="!isRowSelected"
                (click)="activeModal.close('Close click')">Cancel</button>
        </div>
        <div class="button-margin">
            <button type="button" class="btn publish-event-button" [class.disabled]="!isRowSelected"
                (click)="updateCustomers()">Update all Events</button>
        </div>
    </div>
</div>