    <div class="main" *ngIf="cancelAddUser">
        <div class = "even-row">
            <img  src="assets/img/close.svg" alt="close">
        </div>
        <div class = "launch-main">
            <div class="launch">
                <img   src="assets/img/launch.svg" alt="close">
            </div>
            <div class="ready-to">
                Ready to publish all events?
            </div>
            <div class="please-read">
                Please read the follow and confirm your understanding - 
            </div>
            <div class="custom-control custom-checkbox check-row-box common">
                <input type="checkbox" class="custom-control-input checkbox" id="defaultUnchecked">
                <label class="common custom-control-label exclude-time" for="defaultUnchecked">There are total of 10 events, that are published with same customers</label>
            </div>
            <div class="custom-control custom-checkbox check-row-two common">
                <input type="checkbox" class="custom-control-input checkbox" id="defaultUncheck-1">
                <label class="custom-control-label exclude-time" for="defaultUncheck-1">Notification is sent to all the selected customers with the time range of the DR Event</label>
            </div>
        </div>
        <div style="padding-top: 140px;">
            <div class="footer-divider mt-auto"></div>
        </div>
        <div class="button-main  ml-auto" style="padding-right: 26px;padding-top: 10px;">
            <div class = "button-inner">
                <button type="button" class="btn cancel-btn" (click)="hidePublish()">Cancel</button>
            </div>
            <div class = "button-color">
                <button type="button" class="btn color-btn-inner">Yes, Publish all Events</button>
            </div>
        </div>
    </div>

