
    <div class="main">
        <div class = "even-row">
            <img  src="assets/img/close.svg" alt="close">
        </div>
        <div class = "launch-main">
            <div class="launch">
                <img   src="assets/img/accept-bid.svg" alt="close">
            </div>
            <div class="ready-to">
                Accept Counter Bid
            </div>
            <div class="please-read">
                By accepting the request, the customer is welcome to participate in the scheduled DR Event.  Customer will  be notified about the acceptance of his/her counter bid request.
            </div>
            <div class="content-black mb-5 pb-4 mt-4">
                Are you sure you want to accept the customer request?    
               
            </div>
        </div>
        <div class="footer-divider mt-auto"></div>
        <div class="button-main  mt-auto ml-auto" style="padding-right: 26px;">
            <div class = "button-inner">
                <button type="button" class="btn cancel-btn">cancel</button>
            </div>
            <div class = "button-color">
                <button type="button" class="btn color-btn-inner">Yes, I Accept</button>
            </div>
        </div>
    </div>

