
   <ng-template #content let-modal>
    <div class=" pl-4 pr-4 full-body">
        <div class="close-icon">
            <img src="../../../assets/img/close.svg" alt="logo">
        </div>
        <div class="header-top-content">
            Events Overview
        </div>
        <div class = "mt-2 table-border">
            <div class="row row-top" style = "margin:0px;border-bottom: 1px solid #E4E8EC;;">
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        DR EVENTS
                    </div>
                </div>
                <div class="col-2 row-border-header">
                    <div class="dr-event">
                        TIME
                    </div>
                </div>
                <div class="col-3 row-border-header">
                    <div class="dr-event">
                       STAGE
                    </div>
                </div>
                <div class="col-5 row-border-header" style="display: block !important;padding: 0px;">
                    <div class="dr-event" style="height: 30px; text-align: center; padding: 6px; border-bottom: 1px solid #E4E8EC;">
                        CUSTOMERS
                    </div>
                    <div class="col" style="display: flex;padding-right: 0px;">
                        <div class="col row-border " style="height:30px;">
                            <div class="sub-divided-branch">
                                INVITED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                            PARTICIPATED
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;">
                            <div class="sub-divided-branch">
                            COUNTER BID
                            </div>
                        </div>
                        <div class="col row-border" style="height:30px;    border-right: 0;">
                            <div class="sub-divided-branch">
                            NO RESPONSE
                            </div>
                        </div>
                    </div>
                </div>
                <div class="final-column">
            </div>
        </div>
        <div class="table-row-scroll" >
            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Event Live
                    </div>
                    <div class="blue-color-font">
                        00:01
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Event Live - 15 min
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Event Live - 30 min
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Counter Bid - 8:45 AM to 9:00 AM
                    </div>
                    <div class="red-color-font">
                        14:59
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Gate Closure - 9:15 AM
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-top">
                <div class="col-2 row-border">
                    <div class="column-one">
                        2019102604HYS
                    </div>
                </div>
                <div class="col-2 row-border">
                    <div class="column-one">
                        0900 - 0915
                    </div>
                </div>
                <div class="col-3 plan-quantity-start">
                    <div class="column-one">
                        Gate Closure - 9:15 AM
                    </div>
                </div>
                <div class="col-5" style="display: flex;padding-right: 0px;">
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                            55
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        18
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        0
                        </div>
                    </div>
                    <div class="col row-border plan-quantity-end">
                        <div class="column-one">
                        7
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
        <div style="position: absolute; bottom: 0px; width: 98%;">
            <div class="footer-divider"></div>
            <div class="footer-back">
                <div class = "button-margin">
                    <button type="button" class="btn publish-event-button publish-inner-button">Close</button>
                </div> 
            </div>
        </div> 
    </div>  
</div>
</ng-template>