<div class="main-er mt-3">
        <div class="row close-icon ">
            <div class="col" style = " margin-left: 16px;">
                <img src="assets/img/close.svg" alt="">
            </div>
        </div>
        <div class="row indent-common">      
            <div class="col add-customer">
                Add Customer
            </div>
        </div>
        <div class="displayflex tech-info-main">
            <div class="one-col">
                <div class="general-info text-col info-col">
                    1
                </div>
            </div>
            <div class="tec-info-style aligncenter ">
                Technical Information 
            </div>
            <div class="divider"></div>
            <div class="one-col">
                <div class="general-info text-col info-col">
                    2
                </div>
            </div>
            <div class="tec-info-style aligncenter ">
                General Information 
            </div>
            <div class="divider"></div>
            <div class="third-col">
                <div class="general-info text-col info-col">
                    3
                </div>
            </div>
            <div class=" aligncenter general-info ">
                Energy Resources 
            </div>
        </div>
        <div class="row indent-common row-company">
            <div class="col-5 company-col ">
                Company Name
            </div>
            <div class="col company-col common-activity ">
                Type/Activity
            </div>
        </div>
        <div class="row indent-common chief-main ">
            <div class="col-5  chief-col select-chief-row ">
                DY Chief Select
            </div>
            <div class="col-5 chief-col select-chief-row common-activity ">
                DMRC Traction
            </div>
        </div>
        <div class="row indent-common row-common">
            <div class="col company-col ">
                Company Address
            </div>
            
        </div>
        <div class="row indent-common chief-main ">
            <div class="col-11  chief-col select-chief-row ">
                DY Chief electc/o agm(maintanance) DMRC Ltd, DMRC Train Depot, Shastri Road 
            </div>
        </div>
        <div class="row indent-common row-common">
            <div class="col-5 company-col ">
                State
            </div>
            <div class="col company-col common-activity ">
                Zip Code
            </div>
        </div>
        <div class="row indent-common chief-main ">
            <div class="col-5  chief-col select-chief-row ">
                Telangana
            </div>
            <div class="col-2 chief-col select-chief-row common-activity ">
                500081
            </div>
        </div>
        <div class="row indent-common row-common">
            <div class="col company-col ">
                Region & City
            </div>
            
        </div>
        <div class="row indent-common chief-main relative-position">
            <div class="col-11  chief-col select-chief-row " style="padding: 5px 10px;">
                <div class="dropdown">
                    <button class="btn select-chief-row drop-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Madhapur, Hyderabad <span class = "span-text"><img src="assets/img/down-arrow-icon.svg" alt="image not visible"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row indent-common row-common">
            <div class="col-5 company-col ">
                Customer Name
            </div>
            <div class="col company-col common-activity ">
                Contact Number
                <span class = "multiple-col">(Use comma (,) for multiple numbers)</span>
            </div>
        </div>
        <div class="row indent-common chief-main ">
            <div class="col-5  chief-col select-chief-row ">
                Mr. Prabhat Kumar
            </div>
            <div class="col-5 chief-col select-chief-row common-activity ">
                7863901759, 8652018670
            </div>
        </div>
        <div class="row indent-common row-common" >
            <div class="col company-col ">
                Email Addresses
                <span class = "multiple-col">(Use comma (,) for multiple numbers)</span>
            </div>
        </div>
        <div class="row indent-common chief-main" style="margin-bottom: 10px;">
            <div class="col-11  chief-col select-chief-row ">
                newdelhirss@gmail.com, pavanp233@gmail.com
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="row button-row">
            <div class="cancel-outer-btn">
              <button class=" cancel-btn"> Cancel</button>
            </div>
            <div>
                 <button class=" next-btn"> Next</button>
            </div>
        </div>
</div>