<div class="modalgi-main mt-3">
        <div class="row close-icon " (click)="activeModal.close('Close click')">
            <div class="col">
                <img src="assets/img/close.svg" alt="" style="cursor: pointer;">
            </div>
        </div>
        <div class="common-content">  
            <div class="row ">
                <div class=" add-customer"> Add Customer</div>
            </div>   
            <div class="displayflex tech-info-main mb-3">
                <div class="one-col">
                    <div class="general-info text-col info-col style-iner-col" >1 </div>
                </div>
                <div class="tec-info-style aligncenter ">Techincal & General Information </div>
                <div class="divider"></div>
                <div class="one-col">
                    <div class="general-info text-col info-col style-iner-col">2</div>
                </div>
                <div class="tec-info-style aligncenter ">Energy Resources </div>
            </div>
        </div>
    <div class="body-scroll">
        <div class="common-content">
            <div class="row row-energy-top ">
                <div class=" energy-source">Energy Resources 
                    <span class="add-energy-col">‘Select or add energy assets accordingly’</span>
                </div>
            </div>
            <div class="row col-assets dash-main-col">
                <div class="col dashed-col"> </div>
                <div class="col-1.5 " style="padding: 0px 10px;"> Select Energy Assets</div>
                <div class="col dashed-col "> </div>
            </div>
            <div class="row icon-main">
                <div class=" solar-main-row ">
                    <div class="solar-icon-common">
                        <img src="assets/img/solar.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Solar</div>
                </div>
                <div class=" solar-main-row row-generator ">
                    <div class="solar-icon-common">
                        <img src="assets/img/generator.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Generator</div>
                </div>
                <div class=" solar-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/ev.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Electric Vehicle</div>
                </div>
                <div class=" ac-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/ac.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">Air Conditioner</div>
                </div>
                <div class=" ac-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/HVAC.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">HVAC</div>
                </div>
                <div class=" ac-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/Heavy machinery.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler"> Machinery</div>
                </div>
            </div>
            <div class="row icon-inner">
                <div class=" ac-main-row ">
                    <div class="solar-icon-common">
                        <img src="assets/img/pumps.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">Pumps</div>
                </div>
                <div class=" solar-main-row row-generator ">
                    <div class="solar-icon-common">
                        <img src="assets/img/lighting.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Lighting</div>
                </div>
                <div class=" ac-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/solar.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">ICT</div>
                </div>
                <div class=" ac-main-row row-generator">
                    <div class="solar-icon-common">
                        <img src="assets/img/ICT.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">Boilers</div>
                </div>
                <div class=" solar-main-row row-generator ">
                    <div class="solar-icon-common">
                        <img src="assets/img/wind generator.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Wind Generator</div>
                </div>
                <div class=" solar-main-row row-generator ">
                    <div class="solar-icon-common">
                        <img src="assets/img/battery-bank.svg" alt="">
                    </div>
                    <div class="solar-col col-boiler">Battery Bank</div>
                </div>
            </div>
            <div class="row icon-inner">
                <div class=" ac-main-row ">
                    <div class="solar-icon-common">
                        <img src="assets/img/STP.svg" alt="">
                    </div>
                    <div class="ac-col col-boiler">STP</div>
                </div>
            </div>
            <div class="row col-assets dash-main-col">
                <div class="col dashed-col"> </div>
                <div class="col-1.5 " style="padding: 0px 10px;"> Add Energy Assets</div>
                <div class="col dashed-col "> </div>
            </div>
            <div class="row input-main-row" >
                <div>
                    <input class = "input-col" type="text" placeholder="Appliance name">
                </div>
                <div style="margin-left: 8px;">
                    <button class="next-btn opacity">Add</button>
                </div>
            </div>
            <div class="row icon-main" style="height:45px;">
                <div class=" solar-main-row solar-col mb-3" style="padding-top: 20px;"> Appliance X</div>
            </div>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="row button-row">
        <div class="cancel-outer-btn">
            <button class=" cancel-btn"> Previous</button>
        </div>
        <div>
            <button class=" next-btn" style="width: 125px;"> Add Customer</button>
        </div>
    </div>
</div>