.breadcrumb{
    margin-left: 0px;
    background-color: white;
    padding-left: 24px;
    font-size: 12px;
    color: #727479;
    font-family: SourceSansPro-SemiBold;
    margin-bottom: 0px;
}
.breadcrumb-item.active {
    color: #00349A !important;
    background-color: white !important;
}
