/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('assets/fonts/SourceSansPro-Bold.otf')
}


@font-face {
  font-family: SourceSansPro-Semibold;
  src: url('assets/fonts/SourceSansPro-Semibold.otf')
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url('assets/fonts/SourceSansPro-Light.otf')
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('assets/fonts/SourceSansPro-Regular.otf')
}

@font-face {
  font-family: SourceSansPro-Italic;
  src: url('assets/fonts/SourceSansPro-Italic.ttf')
}

html,
body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.modal-window {
  max-width: fit-content !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: fit-content !important;
  }
}

.dropdown-button:focus,
.dropdown-item:focus,
.dropdown-item:active {
  outline: none;
  background-color: unset;
  color: #00349a;
}

/*#region Toast CSS */
.color-primary {
  color: #00349A;
}

.bg-primary {
  background-color: #00349A;

}

/*#endregion */


/*#region Toast CSS */
.toast-bg-success {
  background-color: #417505 !important;
}

.toast-bg-error {
  background-color: #D0021B !important;
}

.toast-bg-warning {
  background-color: #F5A623 !important;
}

.toast-bg-info {
  background-color: #2D8EFF !important;
}

.top-90 {
  top: 90px;
}

.width-500 {
  width: 500px !important;
}

.width-600 {
  width: 600px !important;
}

.width-625 {
  width: 625px !important;
}

.width-650 {
  width: 650px !important;
}

.width-700 {
  width: 700px !important;
}

/*#endregion */

/*#region Status CSS */

.status-created {
  color: #009B78;
}

.status-published {
  color: #469BFF;
}

.status-completed {
  color: #63b508;
}

.status-cancelled {
  color: #D0021B;
}

.status-gate-closed {
  color: #673AB7;
}

.status-expired {
  color: #8B572A;
}

.status-locked {
  color: #303030;
}

.status-live {
  color: #2C7800;
}

/*#endregion */
