/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: SourceSansPro-Bold;
  src: url('assets/fonts/SourceSansPro-Bold.otf')
}


@font-face {
  font-family: SourceSansPro-Semibold;
  src: url('assets/fonts/SourceSansPro-Semibold.otf')
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url('assets/fonts/SourceSansPro-Light.otf')
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url('assets/fonts/SourceSansPro-Regular.otf')
}

@font-face {
  font-family: SourceSansPro-Italic;
  src: url('assets/fonts/SourceSansPro-Italic.ttf')
}

html,
body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.modal-window {
  max-width: fit-content !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: fit-content !important;
  }
}
.dropdown-button:focus,
.dropdown-item:focus,
.dropdown-item:active {
  outline: none;
  background-color: unset;
  color: #00349a;
}
