/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: SourceSansPro-Bold;
    src:url('assets/fonts/SourceSansPro-Bold.otf')
}


@font-face{
    font-family: SourceSansPro-Semibold;
    src:url('assets/fonts/SourceSansPro-Semibold.otf')
}

@font-face{
    font-family: SourceSansPro-Regular;
    src:url('assets/fonts/SourceSansPro-Regular.otf')
}
@font-face{
    font-family:SourceSansPro-Italic;
    src:url('assets/fonts/SourceSansPro-Italic.ttf')
}