<div class="main-add-customer">
    <div>
         <div class=" header-main-row">
            <img src="assets/img/close.svg" alt="">
        </div>
        <div class="add-customer">
            <div class = "pl-4 header-name">
                Add Customer
            </div> 
        </div>
        <div class="mt-5 event-outline file-upload content-align">
            <div class = "upload-middle ">
                <div style="padding-bottom: 16px;"><img src="../../../assets/img/cloud-upload.svg" alt="upload"></div>
                Drag & drop the sheet or
                <a href="#" class = " drag-sector browse-text  row-space"> 
                    browse
                </a>
                <span>
                    files to  <br> add customers in bulk 
                </span>
            </div>
        </div>
        <div style=" text-align:center;margin-top: 16px;">   or </div>
        <div>
            <div style=" text-align:center;margin-top: 25px;" >
                <button type="button" class =" btn schedule-event-button active"> Add Customer </button>
            </div>
        </div>
    </div>
</div>
