<div class="user-profile px-4">
    <div>
        <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
    </div>
    <!-- <div class="d-flex justify-content-between">
        <div class="page-title">My Profile</div>
        <button type="button" class="btn border rounded bg-white"> Edit</button>
    </div> -->
    <div class="row m-0 pt-4">
        <div class="col-3 p-0">
            <div class="form-group">
                <div class="label">Name of DSO</div>
                <div class="value">{{userDetails.dsoName}}</div>
            </div>
            <div class="profile-image d-flex align-items-end">
                <img src="../../../assets/img/User.png" class="image" alt="">
                <!-- <div class="browse pl-2">Change profile photo</div> -->
            </div>
            <div class="company-image py-3">
                <div class="label">Company Logo</div>
                <div class="py-1 d-flex align-items-center">
                    <!-- <button type="button" class="rounded bg-white upload-btn" (click)="upcomingFunctionality()">
                        Upload</button> -->
                    <img src="assets/img/BRPL LOGO.jpg" class="pl-0 image" alt="logo">
                </div>
                <!-- <div class="desc">The size of the PNG/JPEG should be &lt; 25KB</div> -->
            </div>
            <div class="form-group">
                <div class="label">DSO Email Address</div>
                <div class="value">{{userDetails.emailId}}</div>
            </div>
            <!-- <div class="form-group">
                <div class="label">Password</div>
                <div class="value">BSES Yamuna Power Limited</div>
            </div> -->
        </div>
        <div class="col-7 p-0">
            <div class="row m-0 pt-4">
                <div class="col p-0 d-flex align-items-center serial-key">
                    <div class="form-group m-0 pl-4">
                        <div class="label">Product Serial Key </div>
                        <div class="value">23478934U70CTJM </div>
                        <div class="expiry-label">Your license expires in 90 days </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 pt-4">
                <div class="col p-0">
                    <div class="form-group">
                        <div class="label">Company Address</div>
                        <div class="value">{{userDetails.companyAddress}}</div>
                    </div>
                </div>
            </div>
            <div class="row m-0 pt-3">
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">State</div>
                        <div class="value">{{userDetails.state}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Region & City</div>
                        <div class="value">{{userDetails.region}}, {{userDetails.city}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Pin Code</div>
                        <div class="value">{{userDetails.pincode}}</div>
                    </div>
                </div>
            </div>
            <div class="row m-0 pt-3">
                <div class="col-12 p-0 contact-label">Primary Contact</div>
            </div>
            <div class="row m-0 pt-2">
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Name</div>
                        <div class="value">{{userDetails.primaryContactName}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Phone Number</div>
                        <div class="value">{{userDetails.primaryContactPhone}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Email Address</div>
                        <div class="value">{{userDetails.primaryContactEmail}}</div>
                    </div>
                </div>
            </div>
            <div class="row m-0 pt-3">
                <div class="col-12 p-0 contact-label">Secondary Contact</div>
            </div>
            <div class="row m-0 pt-2">
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Name</div>
                        <div class="value">{{userDetails.secondaryContactName}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Phone Number</div>
                        <div class="value">{{userDetails.secondaryContactPhone}}</div>
                    </div>
                </div>
                <div class="col-4 p-0">
                    <div class="form-group">
                        <div class="label">Email Address</div>
                        <div class="value">{{userDetails.secondaryContactEmail}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 pt-5">
        <div class="col p-0 py-3 terms">
            <!-- <div class="d-flex">
                <input type="checkbox" class="mt-1 mr-2">
                <div>
                    I accept the terms & conditions, that include the following * Product only to be used for a
                    non-commercial pilot. *Sustain Impact and consortia have no liability arising from the use of the
                    product. *The product is licensed for the exclusive use by the DSO only. *DSO cannot develop a
                    similar
                    product internally or with a third party.
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="row m-0 py-3 px-4 border-top">
    <!-- <div class="col p-0 d-flex justify-content-end">
        <button type="button" class="btn border rounded bg-white mr-3"> Back</button>
        <button type="button" class="btn border rounded primary"> Save</button>
    </div> -->
</div>